[2015-03-23 19:03] luan-cestari opened #1821 "Aging"
The issues/PR should have its age (how long since last update and when it was created) somewhere as this information is available in Github API v3 (Issues | GitHub API) and it is useful . With that information there are many possible feature that could be helpful, search as for issues that are waiting too much time for a comment or PR, a forgotten issue (as the time passed by it might became impor

[2015-03-23 19:03] luan-cestari opened #1822 "GIthub referencing feature"
Better references between issues and PR comments (using @ and #): autocomplete feature; cross-repository references (autocomplete and closing) ;

[2015-03-23 19:04] luan-cestari opened #1823 "Aging trigger"
Aging feature on issues/PRs: Some specific rules using the last update date from the comment (or even when the issue was created). These rules could trigger a popup message or even email in case an issue/PR is old

[2015-03-23 19:04] luan-cestari opened #1824 "Voting/Like&dislike"
Voting feature on issues/PRs  Just up/down votes button storage as a label or as a description in the issue. With that issues could be voted if it is relevant or Pr could be merged after reaching % of team's approval  or etc

[2015-03-23 19:05] luan-cestari opened #1825 "Blocker feature"
Blocker feature: There could be an special label that would change the card color and make it move to the highest possible position in the stack if the card (PR/issue) has this flag. Other features mentioned could also trigger this feature (for example the next feature)

[2015-03-23 19:05] luan-cestari opened #1826 "Due date feature"
Due date and Hard Deadline (and calendar view): Issues could have two other date fields one for due date which would be the expected date that the issue would be solved and a hard deadline date which would indicate the release/milestone or due it is critical it have to be made until that date in the worst case. This feature could also allow  to create time box feature

[2015-03-23 19:05] luan-cestari opened #1827 "cross-repositories labels"
pdate/force all the repositories to have the same labels

[2015-03-23 19:05] luan-cestari opened #1828 "Travis integration"
Travis integration - Get the repositories status from travis and have some reports about it

[2015-03-23 19:06] luan-cestari opened #1829 "Enhance the reports"
Enhance the reports available (allow query by date and etc)

[2015-03-23 22:52] CyberStrike commented on #1824
+1

[2015-03-24 15:12] ashumz opened #1830 "allow for custom size values"
[requested by user](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/791858270)

[2015-03-24 19:55] brianellin opened #1831 "Columns randomly being deleted"
Our waffle had "Ready" and "Needs Attention" columns, which just randomly were deleted / disappeared from our board. Adding a "Ready" column back, and it was deleted again.

Very scary bug that entirely breaks our company workflow.

[2015-03-24 20:56] marydavis commented on #1831
@brianellin yikes, that doesn't sound good. We have been looking into this and have not been able to replicate this issue or find any errors that would cause this problem. Would you mind contacting us through the '?' button in the app sidebar? This way we can get some more specifics from you that you may not want public.

[2015-03-24 21:28] ashumz opened #1832 "rename "unable to fetch users from GitHub" error to be more intuitive"
change to:
"Permission error: unable to access [repo]."

[2015-03-25 12:53] wolf99 commented on #926
+1

[2015-03-25 13:48] CodeMan99 opened #1833 "Filter Options: Author, Participating"
Please add filter for Author and Participating. Author meaning person who added/opened the issue or pull request. Participating meaning that user has commented or been mentioned.

[2015-03-25 15:12] ashumz commented on #1761
@frogandcode and @vieux and @jfrazelle,

We introduced some additional logging to help us track this down if it happens again. Unfortunately, without having that in the past, we can't properly diagnose the problem you ran into. If you're willing to give things another go, we should have all information we need to track any potential bugs you're hitting.

Let us know if you have any questions or if

[2015-03-25 18:04] soonhokong commented on #1833
:+1:

[2015-03-25 20:56] caseypt opened #1834 "Is there more than one way to archive a card?"
Cards are being archived when they shouldn't be.

Is there another way to archive cards other than opening the issue modal and clicking archive?

We've noticed several issues (at least 9 that we've found) get archived, but no one clicked the archive button. Reopening the issue brought them back onto the board.

Also, just FYI, we are using a multi-repo board.

[2015-03-25 21:11] caseypt commented on #1834
Here's an example of an issue that was archived in some other way than through the modal: https://github.com/azavea/nyc-trees/issues/876

To put it another way, we didn't want this card to be archived, but somehow it got archived.

We can bring these back by reopening them, then dragging them from the backlog to the done column, which closes them again, but they remain on the board.

[2015-03-25 21:14] vieux commented on #1761
Hi @ashumz thanks for investigating this.

Did you sincerely intend to close this issue ??? -- or is the the bug in waffle :D

Because the issue is **far** from resolved.

[2015-03-26 06:55] ebdrup opened #1835 "When a pull request has noone assigned, automatically assign the first (or last?) person who did a commit on the pull request branch"
We are moving things fast in a Continuous delivery/deployment style. Most of the work is automatic for the developer and done from the command-line.
Automatically assigning goes hand in hand with your mission to never manually update a status again.

[2015-03-26 08:50] bodiam commented on #1804
I wanted to submit the same issue. Would be nice to have this indeed!

[2015-03-26 12:01] elia commented on #1822
:+1:

[2015-03-26 14:56] burtonjc commented on #1761
Hi @vieux, sorry for closing this, it was a miscommunication on our end. We just added some additional monitoring around actions Waffle.io takes in GitHub on the behalf of our users. Do you still have some users auth'd with Waffle.io so we can monitor what is going on to cause the behavior you are seeing?

[2015-03-26 15:05] ashumz commented on #1833
Hi @codeman99,

Thanks for your request! Can you provide us some details on why this would be useful for you and how often you or your team would use this feature?

Thanks!

Ashley

[2015-03-26 15:11] homeyer opened #1836 "Hide filter 'x' when no text is there"
[customer requested](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/790688703)

[2015-03-26 15:12] ashumz commented on #1817
Hi @mwisnicki - what would the value of this be for your team? We've found that teams tend to have a varied number of issues per column, and scrolling by column has been a highly requested feature in the past. Would you prefer a single scroll bar over column scroll or in addition to?

Thanks :)

Ashley

[2015-03-26 15:23] #1836 closed

[2015-03-26 15:31] CodeMan99 commented on #1833
These are just features I expect coming from using github issues directly or using an issue manager like JIRA.

The "filter by author" being the more important of the two to get an overview of state of the cards I have reported. As a QA manager/engineer I want to be able to evaluate a person's (usually other developers) activity in issue creation and issue participation.

[2015-03-26 15:40] ajkavanagh commented on #806
+1 for integration, but also for filtering out notifications that github would already send as I also have an integration between github and slack.

[2015-03-26 15:58] ashumz commented on #1829
Hi @luan-cestari.

we have an open issue for metrics enhancements here: https://waffle.io/waffleio/waffle.io/cards/53f27af882b317f7d9adafa2

Closing this one out as a duplicate, but will relay your feedback to that card. :)

Ashley

[2015-03-26 15:59] #1829 closed

[2015-03-26 16:01] ashumz commented on #494
+1 from @luan-cestari

[2015-03-26 16:02] ashumz commented on #1828
Hi there :)

We have an open issue for this here: https://waffle.io/waffleio/waffle.io/cards/53440db124ceb40200d90f7c

Closing this one out as a duplicate, but added your +1 to the existing issue.

Cheers,

Ashley

[2015-03-26 16:02] #1828 closed

[2015-03-26 16:04] ashumz commented on #1827
Hi @luan-cestari,

We're tracking this request here: https://waffle.io/waffleio/waffle.io/cards/540f23c882b317f7d9ae6155

Also worth checking out -- a user created a solution for this here: https://github.com/piwik/github-sync

[2015-03-26 16:04] #1827 closed

[2015-03-26 16:08] ashumz commented on #1825
Already tracking this request here: https://waffle.io/waffleio/waffle.io/cards/53445c8eebef97b1f9598d89

Added your feedback and +1. Thanks!

Ashley

[2015-03-26 16:08] #1825 closed

[2015-03-26 16:17] ashumz commented on #1826
Hi @luan-cestari,

We likely won't add a calendar view any time soon (in full transparency), but I am interested to learn if you or your team uses the GitHub milestone due date and whether or not simply exposing this on the card modal view would be useful for you? Why or why not?

Thanks for any information you're willing to share! :)

Ashley

[2015-03-26 16:27] ashumz commented on #1824
We do plan to do this in the future! We actually have an open issue available for this here: https://waffle.io/waffleio/waffle.io/cards/53440db224ceb40200d90fab

I added both of your +1's and will be closing this as a duplicate.

Thanks!

[2015-03-26 16:28] #1824 closed

[2015-03-26 16:31] ashumz commented on #1821
Hi @luan-cestari,

We do show how long ago the issue was opened next to the issue creator's name in the card modal. We also show how long ago comments were made (ie: one minute ago, 3 months ago, etc.). I'm going to close this one out and move your comments to the Aging Trigger card, as that is more along the lines of what we might do with that available information.

Thanks for all of the feedbac

[2015-03-26 16:31] #1821 closed

[2015-03-26 16:32] ashumz commented on #1823
Also from card #1821: "We do show how long ago the issue was opened next to the issue creator's name in the card modal. We also show how long ago comments were made (ie: one minute ago, 3 months ago, etc.). I'm going to close this one out and move your comments to the Aging Trigger card, as that is more along the lines of what we might do with that available information.

Thanks for all of the fee

[2015-03-26 16:35] luan-cestari commented on #1823
Thanks @ashumz  . I would just complement the #1821 saying that would be nice if we could search querying those date fields (so I could find the issues that are pending too long to be solved or PR that are pending someone to merge after several weeks, for example )

[2015-03-26 16:39] andreackinney commented on #1361
I would like a date indicating when the issue was created

[2015-03-26 16:46] ashumz commented on #1822
Hi @luan-cestari and @elia,

You'll want to follow this issue: https://waffle.io/waffleio/waffle.io/cards/5367faf3ebef97b1f959b4c4 for updates. We're planning on doing this in the near future, but haven't pulled it into our immediate backlog yet. Subscribe to the card in GitHub for additional updates and notification of forward progress. :)

As for the # recognition, we don't have this planned yet

[2015-03-26 16:49] mohierf commented on #925
+1

[2015-03-26 16:58] ashumz commented on #1834
Hi @caseypt,

Sorry for the confusion! The Done column clears out cards every 7 days, so if a card is older than 7 days and hasn't had any updates made to it in that time, it will be removed from the board. To get it back, you can update the card, or reopen it as you mentioned.

Hope this clears things up! Let us know if we can help further.

Ashley

[2015-03-26 17:01] ashumz commented on #1525
From @pauldiepenbrock (#1815 closed as duplicate):
"I've noticed that members on my team won't open issues to check for a description if this number is blank. This is a bit annoying since the description is just as important (if not more so) than any additional comments."

[2015-03-26 17:02] ashumz commented on #1815
Hi there,

We're already tracking similar functionality here: https://waffle.io/waffleio/waffle.io/cards/54467229d613f614d447b3da

Closing this out as a duplicate -- feel free to follow the above mentioned issue for updates! We do plan to do this work, but it will likely be an indicator of description versus an increment to comment count. :)

Ashley

[2015-03-26 17:02] #1815 closed

[2015-03-26 17:03] homeyer commented on #1812
closing as a duplicate of #771

[2015-03-26 17:03] #1812 closed

[2015-03-26 17:13] caseypt commented on #1834
Thanks! Is there anyway to disable this behavior? We work in two weeks sprints and review all the cards we completed at the end of the sprint. This is made difficult by some cards being auto-archived.

[2015-03-26 17:16] ashumz commented on #1795
Hi @ScarlettCode,

Right now you can only turn on one option per column in order for things not to get funny on you. However, we're planning to clean up the column UI in the next few months to be a lot more intuitive, and we'll keep this feedback in mind!

We're tracking this issue (and I've added your feedback from this issue) here: https://waffle.io/waffleio/waffle.io/cards/5345b5a4ebef97b1f9598

[2015-03-26 17:16] #1795 closed

[2015-03-26 17:23] #1822 closed

[2015-03-26 17:29] ashumz commented on #1834
There's no way right now to disable this behavior, but there are a few workarounds that could work for you!

I've seen teams use a Done column that doesn't close issues (if you use GitHub's closing keywords this could be a problem, but you could also check in to Waffle's Connect keywords(https://github.com/waffleio/waffle.io/wiki/FAQs#prs-connect-keywords).

 I've also seen teams go to GitHub for

[2015-03-26 17:30] #1834 closed

[2015-03-26 17:36] ashumz commented on #1835
Hi @ebdrup!

Thanks for the request. :) If you use [GitHub's closing keyword](https://github.com/waffleio/waffle.io/wiki/FAQs#prs-closing-keywords) and reference an issue number in a pull request, we will automatically assign the PR to the person who issues the PR.

If you don't want to use [GitHub's closing keywords](https://github.com/waffleio/waffle.io/wiki/FAQs#prs-closing-keywords), you can a

[2015-03-26 17:38] caseypt commented on #1834
Thanks for the tips.

What about making the auto-archive days configurable?

[2015-03-26 17:40] #1835 closed

[2015-03-26 17:45] ashumz commented on #1813
Hi @jakespace48,

You can show multiple repos on a board at any time! :) This card is specifically for being able to select multiple sources at one time when adding your sources.

To get started adding additional sources to your board, navigate to Settings->Sources and add any repositories for which you are a collaborator. Note that this will change the display of your board for you and all team m

[2015-03-26 17:52] ashumz commented on #1808
@caseypt You can add the closes or fixes keywords in front of an issue number to  a pull request's title or description at any time to visually connect that pull request to the issue and have the issue closed once the PR is merged into the default branch for your repository.

We don't look at commits yet, but if you edit the PR title or description in Waffle after the fact, you can still achieve t

[2015-03-26 17:53] ashumz commented on #1808
One additional thing to note -- if you change the PR description or title via Waffle, you may have to refresh the board before the connection appears.

[2015-03-26 17:55] #1808 closed

[2015-03-26 17:56] ashumz commented on #1810
Hi @tnrich,

Agreed - this would be a nice addition for being able to indicate if the PR is open for standalone PR's! We'll see what we can do. :)

Ashley

[2015-03-26 18:03] ashumz commented on #1740
Thanks @ritch! We'll work on trying to get this fit in soon, as it sounds like it'd be very high value for your team and is also something we've heard requested from open source teams who deal with triaging large numbers of issues.

@team: We should add an "Unlabeled" option the same way GitHub does:

![screen shot 2015-03-26 at 2 01 10 pm](https://cloud.githubusercontent.com/assets/100216/6853273

[2015-03-26 18:30] luan-cestari commented on #1826
Hi @ashumz  =)

We use milestone in our project, it work fine. But I think there are some interesting use cases that it would require a more sophisticate approach. I will try to exemplify to show these use cases but let me know if it too confusing or  something that I can try another example or approach.

Example 1: When we have a bug issue from something that is already in production, so we need

[2015-03-26 18:49] mwisnicki commented on #1817
Just single scrollbar for whole board like in other similar software. I find that scrollbars make the board too complex and obscure the view. And not just scrollbars. IMHO task board should have as little chrome (UI elements) as possible, so I also dislike your dark title bar and buttons.

This user style is a draft of what I would prefer to see:

[code]

[2015-03-26 19:07] ebdrup commented on #1835
That doesnt really work as often the pull request is created without any preceeding issue. There is no issue to reference.

On Thu, Mar 26, 2015 at 6:36 PM, Ashley <notifications@github.com> wrote:

[2015-03-26 19:14] ebdrup commented on #1835
It's because of the way we work. Not everything is specified. We trust all our developers and if they spot a problem they fix it. Our continuous deployment works via pull requests. So we end up with a lot of unassigned closed pull requests. It would be super nice to be able to see in waffel who did those. 

Could waffel perhaps show the last comitter for pull requests witout an issue?

On Thu, Mar

[2015-03-26 21:25] caseypt commented on #1808
Thanks!

[2015-03-26 23:26] burtonjc commented on #1761
@vieux, @jfrazelle, @frogandcode, I just reviewed all the actions Waffle.io took on behalf of your users in docker/docker for the past 9 hours and nothing is standing out to me as suspicious. Have to you seen any funny behavior in the past day?

[2015-03-27 12:51] christophe-dufour opened #1837 "In project settings/columns allow to filter by label an closed issue"

[2015-03-27 12:52] christophe-dufour commented on #1817
+1 Agree with @mwisnicki

[2015-03-27 12:55] christophe-dufour commented on #1837
I would like to be able to have 2 column "closed", one with some label and an other one without some label.

When I check "Closes Issues", the label field disappear :/

[2015-03-27 14:58] homeyer commented on #1819
closing as a duplicate of #1414, thanks for requesting!

[2015-03-27 14:58] #1819 closed

[2015-03-27 14:58] homeyer commented on #1283
closing as duplicate of #1414

[2015-03-27 14:59] #1283 closed

[2015-03-27 15:06] homeyer opened #1838 "PRs should be labeled corrected when related issues are moved"
- [ ] if a PR "closes" an issue, the PR should go to the same column as the issue (be labeled the same)
- [ ] if a PR "closes" but also is "connected" to an issue, the PR should advance as far as possible. E.g, it should have "needs review" based on the "closes issue", and not "in progress" from the connected issue
- [ ] if a PR is only "connected" to an issue, label it to match where the issue is

[2015-03-27 15:06] homeyer commented on #1838
[customer requested](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/799580471)

[2015-03-27 20:29] frogandcode commented on #1761
Hi Jacob,

For some reason I'm not getting notifications for this issue despite being subscribed to it. Sorry for not chiming in earlier.

I just had someone over here try a pull request (# 2271 - _Fluid shot pages +  full-width header/footer_, I can give you more details to find it if you need them) and we saw the same behavior:

![image](https://cloud.githubusercontent.com/assets/12514/6876481/5

[2015-03-27 20:31] frogandcode commented on #1761
Same situation with #2272 - _Upgrade to Rails 4.2_.

[2015-03-27 21:12] burtonjc commented on #1761
@frogandcode, which repo is this on?

[2015-03-27 21:36] burtonjc commented on #1761
@frogandcode, I think I see what is going on. It has to do with multiple Waffle.io project (each with different columns) set up with the same repo. I will send you a message through our in app messaging system with more details.

[2015-03-28 22:43] uderic commented on #1776
This also happens to me. Refreshing the page does resolve the issue.

After clicking 'Add Column' I simply refresh every time.

[2015-03-29 09:45] cheerfulstoic opened #1839 "Text other than "Ready" for README badges"
I would like to be able to use text other than "Ready" for my waffle badge.  Ideally it would be nice if I could display the counts for three columns in my README with different badges for each

[2015-03-29 22:46] CodeMan99 commented on #1839
This is completely possible. See [CodeMan99/nanorc](https://github.com/CodeMan99/nanorc) for an example.

[2015-03-29 22:55] CodeMan99 opened #1840 "Adding arbitrary boards to favorite list."
I am not a contributor to waffle.io, but I would love to be able to visit this board without needed to hit the "Ask a question" button.

Would be useful too for projects that you often report tickets against, but are not considered a contributor.

I would like see this functionality on the "add boards view" as well as a button on any board I'm view that I have not yet added to my favorites list.

[2015-03-29 22:59] cheerfulstoic commented on #1839
Oh, excellent, thanks!  I wasn't able to find any examples.  Maybe some docs would be good.  I'm happy, though ;)

[2015-03-29 22:59] #1839 closed

[2015-03-30 12:20] cheerfulstoic opened #1841 "Find and use project's `CONTRIBUTING` file"
GitHub lets you specify a `CONTRIBUTING` file:

https://github.com/blog/1184-contributing-guidelines

It would be great if waffle.io showed this to users when they go to create a new issue in waffle.  You could even improve on the GitHub workflow my showing the contribution guidelines at the time of creating the issue (whereas GitHub only links to them)

[2015-03-30 17:04] daveanderson commented on #1696
:+1:

[2015-03-30 17:42] homeyer opened #1842 "update GitHub issues with PATCH requests"

[2015-03-30 18:05] louisebeh opened #1843 "test"

[2015-03-30 19:56] CodeMan99 commented on #1722
I would really like it if they provided a link it open the issue within their own modal. The number on the top left should still link to github.

[2015-03-30 19:56] CodeMan99 commented on #738
:+1:

[2015-03-30 19:57] CodeMan99 commented on #1694
:+1:

[2015-03-30 19:59] CodeMan99 commented on #1722
Related to #1466?

[2015-03-30 20:02] RVMendoza commented on #925
+1
![t0ptvtg](https://cloud.githubusercontent.com/assets/4342363/6905463/25ebcad4-d6f6-11e4-801c-b4cfe424a79c.gif)

[2015-03-30 21:01] jakehow commented on #616
@ashumz this is a blocking issue for us as well.  There should just be a setting on the column (show closed issues), the use case shouldn't really matter that much.

Our states in our kanban workflow are Backlog -> Design -> Code -> Review -> Sandbox -> Production

Issues and PRs in Sandbox and Production are both 'closed' from GitHub's perspective, but still need to be visible on our board.

[2015-03-30 21:26] homeyer commented on #1843
Hey @louisebeh! Anything we can help you with?

[2015-03-30 22:30] ashumz commented on #1761
@frogandcode and @vieux and @jfrazelle,

The deletion of labels is occurring due to the way one or more of your boards is set up in terms of column labels. If you have primary source repository X, with Y and Z connected, and all of those boards have matching column labels, you're all set!

The problem occurs when you introduce another repository, repository B, that has repository X connected, but

[2015-03-30 23:50] jclavijo opened #1844 "Add new source BitBucket"
Add a new source for creating stories with BitBucket Git repository

[2015-03-31 01:45] #1715 closed

[2015-03-31 01:47] #1843 closed

[2015-03-31 12:36] marek-saji opened #1845 "Reordering with filters on"
Most of the time, when I try to reorder cards and have filters on (I often work with just things assigned to me or noone), reordering works far from reliable:

- some times after dropping a card it lands somewhere at the end of the column, instead at place I've dropped it

- some times, it appears to be dropped correctly, but after page refresh it shows up in other position in the column

[2015-03-31 15:00] kdeloach commented on #1535
+1

[2015-03-31 15:03] #1831 closed

[2015-03-31 15:04] jwalgran commented on #314
+1

[2015-03-31 15:04] steventlamb commented on #314
+1

[2015-03-31 15:04] caseypt commented on #314
+1

[2015-03-31 15:06] kdeloach commented on #314
+1

[2015-03-31 15:07] mmcfarland commented on #314
+1

[2015-03-31 16:07] elia commented on #1230
+1

[2015-03-31 18:29] homeyer commented on #1844
Thanks! Closing as a duplicate of #310.

[2015-03-31 18:29] #1844 closed

[2015-03-31 18:47] homeyer opened #1846 "whitespace is not respected in GFM"
[customer requested](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/804026211).

[2015-03-31 18:48] johnniehare commented on #806
+1

[2015-03-31 21:17] CodeMan99 commented on #626
:+1:

[2015-04-01 11:29] meatballs commented on #1199
+1 from me

[2015-04-01 11:30] meatballs commented on #1199
+1

[2015-04-01 14:56] MFDW commented on #846
+1

[2015-04-01 15:29] ashumz commented on #1454
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/806520573)

[2015-04-01 17:12] sap1ens commented on #1535
+1

[2015-04-01 18:43] #1363 closed

[2015-04-01 20:49] burtonjc commented on #1842
closing as a duplicate of #1256

[2015-04-01 20:49] #1842 closed

[2015-04-01 21:14] #1761 closed

[2015-04-01 21:17] ashumz commented on #1761
Closing this issue out for now. If you have questions or want to work with us further on the issue, we're happy to work with you to get things working properly!

Ashley

[2015-04-01 21:20] frogandcode commented on #1761
@ashumz @burtonjc Just replied to your email, following up here as well. I've deleted the boards with duplicate repos (wasn't really using them), hopefully that will solve. I'll let you know if the problem reoccurs. Thanks so much for investigating!

[2015-04-01 22:12] nickbouton commented on #806
+1

[2015-04-02 07:39] ehg commented on #1307
We were interested in using Waffle, but this issue is stopping us from doing so.

Steps to reproduce:

1. Filter by milestone(s)
2. Reorder a card
3. Refresh
4. Order lost

[2015-04-02 14:52] marleypetro commented on #312
+1

[2015-04-02 15:35] ashumz commented on #1845
Hi @marek-saji,

Thanks for reporting these issues. We are aware of the issues that occur when filtered and will be working on refactoring how ranking in Waffle works within the coming weeks. You can follow our progress on this open card for issue #1307 - https://waffle.io/waffleio/waffle.io/cards/53ea6d9682b317f7d9ad84c9

I'll be adding your feedback to that card directly and closing this out as

[2015-04-02 15:36] #1845 closed

[2015-04-02 15:37] ashumz commented on #1307
+1 User report from #1845:
"Most of the time, when I try to reorder cards and have filters on (I often work with just things assigned to me or noone), reordering works far from reliable:

- some times after dropping a card it lands somewhere at the end of the column, instead at place I've dropped it
- some times, it appears to be dropped correctly, but after page refresh it shows up in other posit

[2015-04-02 17:38] mpgerlek commented on #436
Adding sizing was a great idea - but...

(1) Not everyone uses Fibonacci numbers. Any chance of supporting T-shirt sizing?

(2) +1 to the idea of pushing the data back to github as labels

[2015-04-02 19:32] pjm17971 commented on #806
+1

[2015-04-03 18:27] sethlivingston commented on #1554
+1

[2015-04-03 20:21] danielBingham commented on #806
+1

[2015-04-03 21:16] qualityshepherd commented on #806
+1

[2015-04-03 21:56] marek-saji commented on #1845
thanks, I could not find that issue. glad it's being tajen care of. {:

On Thu, 2 Apr 2015 17:36 Ashley <notifications@github.com> wrote:

[2015-04-03 23:28] babakgh commented on #806
How many +1 they need?!

[2015-04-04 04:51] CodeMan99 opened #1847 "Labels on Cards as Links/Buttons"
Make the label that appears on the card a link to filter by that label.

Optionally with #1799: Add a modal to filter to "only that label" or "remove that label".

[2015-04-04 04:52] CodeMan99 commented on #1799
A simple solution would be to have a "Select All" checkbox and then allow users to selectively uncheck the labels they don't want to see.

[2015-04-04 04:57] CodeMan99 commented on #1799
This card seems to be a duplicate of #1045

[2015-04-04 04:59] CodeMan99 commented on #1596
Perhaps add a new "duplicate of #" syntax? Could stack cards like is done for "Connect to #" syntax for visual notification.

[2015-04-04 10:22] bmpvieira commented on #902
+1

[2015-04-04 23:32] jhermann opened #1848 "Throughput Graph Code Snippet shows primary source only"
Hi, when viewed within the web UI, a multi-repo Throughput Graph has the right data, but when viewed via the SVG widget, only the primary repo is taken into account – or so it seems from what I see.

Have a look yourself: https://github.com/jhermann/Stack-O-Waffles#throughput

[2015-04-05 03:54] pathikrit commented on #806
@babakgh : 1024

[2015-04-05 09:01] savdeep commented on #926
+1

[2015-04-06 02:52] gabrielalmeida commented on #926
+1

[2015-04-06 06:24] roll commented on #695
:+1: for new issue with a label as much needed and pretty simple to implement

Just one move to add a card with right milestone and labels to the right column. Now it's about 5 moves.

[2015-04-06 13:16] bmpvieira commented on #1805
+1

[2015-04-06 14:16] roll opened #1849 "Description's list progress indicator"
I mean GFM lists:

- [x] add a list
- [x] see an indicator at github in issue list
- [ ] see an indicator at waffle under card descrition

![1](https://cloud.githubusercontent.com/assets/557395/7005475/e7511640-dc80-11e4-8938-0c3fc5bd82a5.png)

[2015-04-06 14:21] marydavis commented on #436
@mpgerlek - we have issues created for both of these requests :) #1753 for adding t-shirt sizes and #1720 for creating GitHub labels from the sizes.

[2015-04-06 19:10] jonbrenner commented on #1106
+1

[2015-04-06 21:14] qualityshepherd commented on #317
+1

[2015-04-06 21:23] bmonetti commented on #1307
Experiencing same issue described in #1845 making Waffle unusable for us.

[2015-04-06 21:41] azaroth42 opened #1850 "Milestone and Label as column name results in unexpected behavior"
We had a milestone named Beta, a tag with a color also called Beta, and a column called Beta.  Yes, probably not the way the column/milestone/tag interaction is supposed to work, but dragging issues into the column resulted in them disappearing.  We resolved by deleting the tag, but a more coherent solution would be appreciated.

Best, and thanks for a great tool!

[2015-04-06 21:41] azaroth42 commented on #1850
(cc @ndushay @darrenleewebber)

[2015-04-06 21:46] pkuczaj opened #1851 "The ability to sort a column by label"
I've created labels like 0.urgent, 1.high, 2.medium.  I would like to surface my urgent labels by sorting the columns by label, especially the backlog column

[2015-04-07 06:13] nishigori commented on #926
+1

[2015-04-07 15:16] ashumz commented on #694
Quick update on the completion of this: #1553 (Add issue with labels) is in progress now which completes the scope of work for this epic. If you'd still like to follow "Add issue with assignee", please subscribe to issue #1554 in the backlog.

Thanks!

Ashley

[2015-04-07 15:26] farski commented on #1392
+1

[2015-04-07 15:28] driki commented on #1392
+1

[2015-04-07 16:47] elia commented on #1794
+1

[2015-04-07 16:49] SPopenko commented on #1733
+1

[2015-04-07 17:05] jwir3 commented on #926
+1

[2015-04-07 21:34] #1575 closed

[2015-04-07 21:40] homeyer commented on #1306
tracking on waffleio/waffle.io-app#629

[2015-04-07 21:40] #1306 closed

[2015-04-07 23:13] homeyer commented on #1635
tracking on waffleio/waffle.io-app#913

[2015-04-07 23:14] #1635 closed

[2015-04-07 23:23] #1271 closed

[2015-04-07 23:23] #1143 closed

[2015-04-07 23:29] homeyer commented on #1837
tracking on #616

[2015-04-07 23:29] #1837 closed

[2015-04-07 23:29] homeyer commented on #1796
tracking on #616

[2015-04-07 23:29] #1796 closed

[2015-04-07 23:30] homeyer commented on #1500
tracking as #616

[2015-04-07 23:30] #1500 closed

[2015-04-07 23:33] homeyer opened #1852 "improve column setting interface"
resolves #626, #1776, #569, #946, #780.

** Acceptance Criteria:**
- [ ] implement design from #1857
- [x] no duplicate columns!
- [x] change "In Progress Start" to "Work Started"
- [x] ability to create new label within label selector
- [ ] ~~show add column button when done/backlog columns are removed~~
- [ ] show overlay on done/backlog when trying to drag more than one column in the section le

[2015-04-07 23:42] homeyer opened #1853 "support teams that plan work in Agile Central"
For enterprises using Rally, it's common to plan work in Rally, before teams pull the work.

- [ ] Work that's created in Rally can be imported into Waffle
- [ ] bi-directional updates? Do customer validation with enterprise customers to learn what data we need in both places.

[2015-04-08 03:34] BrandonJoyce356 commented on #1106
+1

[2015-04-08 07:10] pioneerroad opened #1854 "One issue; 2 boards"
Working on an app that has separate server and client repos, but many of the jobs relate to server and client. Would be great if it were possible to simultaneously add one issue to 2 different repos, rather adding issue once on each waffle board.

[2015-04-08 14:03] homeyer commented on #1854
The Waffle team works across a dozen repos to build Waffle.io, here's how we do it:
- an issue exists in a public repo, so our roadmap is public. Issues we don't want to share with the public we put in other repos, related to what code it will touch.
- we open Pull Requests across multiple repos, for one issue. We use absolute issue refs, like waffleio/waffle.io#1854, to reference issues vs just t

[2015-04-08 15:36] sammcj commented on #926
I think it's safe to say that there is demand for this...

[2015-04-08 17:33] ashumz opened #1855 "Indicator (activity feed?) for when cards are synced between Waffle and Agile Central"
In order to be able to tell if cards are synced (ie: if they appear in Rally, if the milestone/feature has been added or updated), we need to have an indicator of some kind, probably via an activity feed/history feed, or similar solution.

[2015-04-08 17:47] ashumz opened #1856 "ability to use labels in Waffle to tie work to iterations in Agile Central"

[2015-04-08 17:54] homeyer opened #1857 "design column interface"
**Acceptance Criteria:**
- [x] Support editing description
- [x] maybe handle saving all columns at once, vs each individually?
- [x] support validation, to prevent users from being dumb - double backlogs, etc. Maybe redesign how the toggles work? Make them easier to understand, they're confusing right now.
- [x] option to choose existing label, or create new. This is to prevent users from having

[2015-04-08 18:18] ashumz opened #1858 "woops"

[2015-04-08 18:19] #1858 closed

[2015-04-08 19:16] #1368 closed

[2015-04-08 20:30] jghibiki opened #1859 "Blocker Hieracrchy"
Allow users to assign an an issue 0 or more blockers, or other tasks that must be completed before this task can be worked on.

[2015-04-09 12:14] penne12 commented on #616
+1

Also, @ashumz, I love the won't fix idea

[2015-04-09 14:44] #907 closed

[2015-04-09 15:05] ashumz opened #1860 "stop setting company name"

[2015-04-09 22:16] arianf commented on #1580
+1

[2015-04-09 22:17] rkho commented on #1580
+1

[2015-04-09 22:17] pravipati commented on #1580
:+1:

[2015-04-10 09:48] artemrizhov commented on #926
+1

[2015-04-10 10:20] artemrizhov opened #1861 "Issue is not moved to In Progress automatically when using GitHub forks"
I've added my forked repo as a second source to the waffle board. Then I've unassigned myself from a task that was in progress, and moved that task to the Ready column. Then I've pushed branch `feature_#2_confirmation_page` to my repo. I was expecting the Issue will move to the In Progress column, but this did not happen. However I've got this message:

"We noticed you recently created a branch in

[2015-04-10 13:05] noelhenson opened #1862 "Multple Simultaneous Boards"
We are working on a complex project with multiple interrelated GH repos. When we are working with two waffle boards open, issues added in one board seem to appear in both.

[2015-04-10 14:24] lorgio commented on #803
+1

[2015-04-10 14:52] RickMohr commented on #314
+1

[2015-04-10 14:53] homeyer opened #1863 "instrument column update endpoint, to diagnose 500 errors"
This is not useful: https://rpm.newrelic.com/accounts/783175/applications/5005813/traced_errors/3424893375/similar_errors?original_error_id=3426333621

Add better instrumentation, so we know what's happening.

[2015-04-10 14:54] #1854 closed

[2015-04-10 16:05] RickMohr commented on #1794
+1
Note that our two-week sprints start on a Friday and end on a Thursday, so just seeing weekly totals for Monday - Sunday wouldn't do it for us.

[2015-04-10 18:27] ashumz opened #1864 "Ability to roll up repo name and issue number to a field within Agile Central (for easy viewing on iteration status page)"

[2015-04-10 20:28] gabeio commented on #218
:+1:

[2015-04-10 21:18] freemanoid opened #1865 "Autocomplete collaborators/participants nicknames"
Add autocompletion of collaborators and issue participants nicknames (like @someone) for comments and issue description editors.

[2015-04-10 21:44] jfdesroches opened #1866 "Drag card on top of another to merge issues"
We often have multiple issues that end up overlapping. Dragging one issue on top of another in Waffle should merge and create a duplicate, just the way GitHub handles it :)

[2015-04-10 22:22] gracecanfield opened #1867 "Styling bug: If an issue is associated with a milestone, title overlaps with label/milestone UI"
See http://cl.ly/image/45112w0Q1B25 (screenshot). If you associate an issue with a milestone and the title of the issue extends onto 2 lines in the Waffle.io card UI, the title text overlaps with the label/milestone UI.

[2015-04-10 22:24] gracecanfield opened #1868 "Ability to create columns based on *multiple* labels and/or milestones"
It would be great to be able to create a new column that corresponds to multiple labels and or milestones.
Use case: I want to create a column that displays issues that are high priority and ready to begin work. I'd like to be able to create a column that includes cards that are labeled both "High Priority" and "Ready".

[2015-04-10 22:27] gracecanfield opened #1869 "Ability to add labels when first creating a card"
Right now, unless I have a column set up that is set in the waffle.io settings as a "backlog" column, when I enter a new issue, it disappears and isn't available anywhere on the board...i have to go back into actual GitHub to add a label to make it appear on one of my boards. If I could add a label during the issue entry process on waffle.io, that would make it automatically show up on Waffle.io i

[2015-04-11 23:47] mattharden commented on #926
:+1:

[2015-04-12 19:01] hiscodeness opened #1870 "Connecting a closed PR to an open issue"
I accidentally closed a PR before linking it to an issue (using 'resolve #nn' or 'Connects #nn'). Is there any way to link the issue at this point, so that the issue would be moved to the Done column, with both the issue and PR stacked together?

[2015-04-12 19:04] roll commented on #1830
:+1:

even 1-10 will be helpful for start

[2015-04-13 08:51] robcaw commented on #1820
+1

[2015-04-13 10:36] robcaw commented on #436
+1 @miraculixx

[2015-04-13 13:51] robcaw commented on #806
+1

[2015-04-13 15:15] Gnirt commented on #846
+1

[2015-04-13 15:16] JCBlondel commented on #846
+1

[2015-04-13 15:23] ashumz opened #1871 "default done column to 2 weeks"

[2015-04-13 15:58] burtonjc commented on #1145
closing as duplicate of #1733

[2015-04-13 15:58] #1145 closed

[2015-04-13 16:08] burtonjc commented on #1852
blocking until #1857 is done

[2015-04-13 18:00] devinus commented on #806
:+1:

[2015-04-13 20:40] noelhenson commented on #1862
This issue is being further characterized.

[2015-04-13 21:35] ashumz commented on #1307
Just an update on this: we've moved this into our Ready queue for work within the next 2 weeks. Thanks to everyone who has shared their reports. We're working to get all the quirks worked out as soon as possible!

[2015-04-13 21:54] ashumz commented on #1865
Hi @freemanoid,

We do plan on doing this within the next few months and are tracking it on #925 here: https://waffle.io/waffleio/waffle.io/cards/5367faf3ebef97b1f959b4c4

Closing this out as a duplicate, but please do follow/subscribe to that issue for updates!

Ashley

[2015-04-13 21:54] #1865 closed

[2015-04-13 21:55] ashumz commented on #1869
@gracecanfield,

Good news! We're working on that now (and it's almost done.) :)

Issue #1553, also viewable here: https://waffle.io/waffleio/waffle.io/cards/5453c68e7abdfe69daba5b91

Closing this out as a duplicate, but have no fear -- we'll deliver soon!

Ashley

[2015-04-13 21:55] #1869 closed

[2015-04-13 21:56] ashumz commented on #1862
Hi @noelhenson,

Please provide additional details if possible. Sounds like you need one board, with the additional repo(s) connected as sources. You might have to delete the project/board for the connected sources to get the ideal behavior.

Let us know if you're still having issues!

Ashley

[2015-04-13 21:59] ashumz commented on #1848
Hi @jhermann,

Thanks for the details! We'll take a look.

Ashley

[2015-04-13 22:00] ashumz commented on #1861
Hi @artemrizhov,

We don't look at forks for moving things in progress currently. It sounds like that might be what you are running into. We have an open issue for this request here: https://waffle.io/waffleio/waffle.io/cards/544a857e7abdfe69dab9f1ba

Let me know if you think your problem is actually something besides this -- happy to look into it further for you.

Ashley

[2015-04-13 23:53] noelhenson commented on #1862
Ashley,

Thank you for the quick response.

Actually what we have (for the sake of argument) are two repros for a
client/server project. One repro is for the client side app, the other
for the server. If both are open, in separate tabs, then new issues
added in  one tab appear where they should but then, a moment later,
appear in the other tab as well.

I am working of further characterization of

[2015-04-14 08:35] artemrizhov commented on #1861
Hello Ashley! Please look further into this issue. It looks like my problem is not related to the issue that you pointed to.

I'm not asking to look at forks. Let's say "fork" == "repo2" in this case. So

1. I've added repo2 to the list of sources on the waffle project settings page.
2. Waffle has sent me a message saying "we noticed you recently created a branch with an issue number in it's name"

[2015-04-14 11:43] tomwm commented on #1553
+1

[2015-04-14 14:23] treystout commented on #1830
or for just completely hiding them if you're not using them.

[2015-04-14 17:00] CarlRosell commented on #806
:+1:

[2015-04-14 17:03] thehandsel commented on #846
+1

[2015-04-14 17:29] ashumz commented on #1861
Hi @artemrizhov,

I just tested this behavior on our end to ensure we weren't encountering any unknown bugs. I also looked into the event for triggering the issue (#2) to move to your In Progress column, and it appeared to work properly with this branch name for your repository.

One thing to consider: which repository are you creating the branch on, and from which repository does the referenced i

[2015-04-14 17:32] ashumz commented on #1862
Hi @noelhenson,

Thanks for the info! When you have full repro steps, would you mind submitting them via the question mark icon in the app (located on the sidebar)? That way if you have any sensitive information to share such as repository name or screenshots with data, we can keep it private and off of the public board.

We'll be keeping an eye out for your report and appreciate your diligence in

[2015-04-14 17:35] ashb commented on #1838
+1 (it feels strange for me to do this, but [you requested it](https://github.com/waffleio/waffle.io/wiki/FAQs#bug-report))

As a perhaps related case [this PR](https://github.com/ministryofjustice/bootstrap-cfn/pull/75) was labelled 'ready for review' manually by the committer.

Initially there was no 'Connects' in the PR description but there was in the third commit ("`Fixes #54`"). Waffle wasn'

[2015-04-14 19:49] #1860 closed

[2015-04-14 19:50] ashumz commented on #1860
using company tag instead

[2015-04-14 20:39] M-Zuber commented on #218
Would really love this. I have a workflow setup that consist of github, waffle.io, and trello.
Being able to have w.io on mobile also would really help. Like @ashmuz said if not an app at last fluid site

[2015-04-15 01:19] jcrben commented on #1861
Is it possible to add anything to the example branch name "waffleio/waffle.io#2" to give it something slightly more human-readable? We are currently using that for a group and it works but it would be nice to give the branch a hint of what the issue is about.

The documentation that FAQ page does not mention the waffleio/waffle.io#2 type of name.

[2015-04-15 14:45] stepthom commented on #1319
+1 for this.

[2015-04-15 14:55] homeyer commented on #1848
@jhermann, we've confirmed this behavior, and we're moving it into our backlog as a bug. Thanks!

[2015-04-15 15:15] PMmike opened #1872 "Images in "Enter Card Description"/"Comments""
The ability to place an image in here would really help when trying to explain things to developers

[2015-04-15 19:10] jcoyne opened #1873 "Allow user to collapse a column"
I'd like to collapse a column so that I can see more details on the columns that I currently care about.

[2015-04-15 19:12] jcoyne opened #1874 "New issues insert at top/bottom"
If I've sorted a column, then I create new issues, the new issues go to the top, messing up the ordering i've done.  If there was an option "new issues go to (top/bottom)" that would be helpful.

[2015-04-15 19:33] jcn opened #1875 "Remove infinite scroll"
It is very difficult to be able to figure out the relative size of the column with infinite scrolling in place. If there was a way to show the entire scrollbar for a given column while only loading the cards that are visible at any given time, that would be great.

[2015-04-16 12:55] mikz commented on #1392
+1

We need to have different boards of one repository.

[2015-04-16 14:43] marydavis commented on #1857
![screen shot 2015-04-16 at 10 39 39 am](https://cloud.githubusercontent.com/assets/176437/7183431/6cbe756a-e425-11e4-985b-f63da9363fb5.png)

[2015-04-16 16:28] idris commented on #1874
:+1:

[2015-04-16 22:03] aruehlen opened #1876 "Allow columns to be configured by more than label"
It'd be nice if columns could be configured by more than just label. For example, what about assignee or milestone? Or, what about multiple labels?

My dream would be able to define column criteria by setting up infinite rules tied to labels, milestone, and assignee. Similar to the way Unfuddle allows for custom reports: http://cl.ly/image/151V3b3M3o2N

[2015-04-16 22:06] sbruschi commented on #1554
+1

[2015-04-16 22:07] sbruschi opened #1877 "Short URL for my assigned task"

[2015-04-17 12:50] artemrizhov commented on #1861
Hi @ashumz,

So, the problem probably is that the branch and the issue are in different repositories. I understand that this is needed because both repositories may contain same issue numbers. However, it does not make sense to specify the issue repository name in within the branch name in our workflow, because second repository is just a clone. We may use as many clones as we have developers in o

[2015-04-17 14:13] stepthom commented on #1733
+1

[2015-04-17 15:24] nditada commented on #806
+1

[2015-04-17 15:25] nditada commented on #1776
same thing here

[2015-04-17 15:56] kristinmc0215 commented on #1106
+1

[2015-04-17 16:00] armilam commented on #1199
:+1:

[2015-04-17 16:03] armilam commented on #306
:+1:
Like @6twenty said, we already have github notify flowdock, but having waffle do it instead would be very nice.

[2015-04-17 16:04] armilam commented on #1722
:+1:

Waffle.io is the kind of app that I'll have open for reference pretty much all the time. I see no need for links to open in the Waffle tab. Having links open in a new tab every time (instead of making me use Cmd+click) would be ideal.

[2015-04-17 17:24] daniellawman commented on #1533
Anything new on this?

[2015-04-17 19:35] CodeMan99 commented on #1877
Short URL versus what? This issue is not clear.

If this is a github url, perhaps [git.io](https://github.com/blog/985-git-io-github-url-shortener) will help.

[2015-04-17 19:37] CodeMan99 commented on #1875
There is a count of cards at the top of any given column.

[2015-04-17 19:39] jcn commented on #1875
To me it's more visual than that. If I'm working on a column and looking through the cards that I have available, it's difficult when I'm in the middle of the list to know whether I'm halfway down the list, a quarter of the way, etc. The card count is interesting, but not that useful if I don't know where in the list of "30" cards I am.

[2015-04-17 19:42] CodeMan99 commented on #1873
Less is more. Remove the unnecessary columns instead? In other words, consider why the columns you want to hide exists, and determine if the cards in that column actually can be in a different column by simply changing the definition slightly.

If you really want to see only certain cards, consider using labels manually and filter by those.

If you really want to consider a single column, use gith

[2015-04-17 19:48] jcoyne commented on #1873
@CodeMan99 My team needs the other columns, but certain members of the team don't  For example. a project manager needs to see the "Backlog" and the programmers only want to see "Ready" "In Progress" and "Done".  If you don't want it in waffle, that's fine. Using labels could work, but then we lose the drag to a different column feature.

[2015-04-17 19:49] CodeMan99 commented on #1875
So what should be in the blank space where cards have yet to load?

* Empty Cards? This will make it really difficult to parse "pagination" load errors. May also cause drawing issues when an empty card box is loaded and need to become larger.
* Empty Space? Again, what should be displayed in the case of a loading error?

Infinite/dynamic scrolling is the industry solution to this problem.

How sho

[2015-04-17 19:54] CodeMan99 commented on #1873
The general solution to that problem is to have multiple boards. Since one board is a limitation of waffle, maybe this isn't a great tool for your workflow.

Hiding columns on a board really defeats the purpose of that board. Unless your board is trying to accomplish more than one workflow, which again, the industry says "use more boards".

[2015-04-17 19:56] jcoyne commented on #1873
Yeah, it just feels like the perfect tool with ONE tiny issue. ;)

[2015-04-17 19:57] jcn commented on #1875
It's definitely a good question, and I'm mostly basing my comments on the joy I get from using Trello. It looks like they do some some kind of dynamic loading on page load. If you load this board: https://trello.com/b/rbpEfMld/data-science and look at the second "Data News" column you'll see that immediately after page load they continue to load the rest of the cards in that list.

[2015-04-17 20:00] CodeMan99 commented on #1875
:+1: for linking an example. I think the waffle team should have a good starting point if they decide to tackle this issue now.

[2015-04-17 20:23] CodeMan99 commented on #1872
@PMmike While I agree, nothing is stopping you from using a little [github flavored markdown](https://help.github.com/articles/github-flavored-markdown/) and an image hosting site (or even just a network drive that both you and the developers mount the same way).

[2015-04-17 20:30] CodeMan99 commented on #1874
I assume this isn't an option because of infinite scrolling. If your "opened/unplanned" column has a lot of cards (like waffleio's own board) it will take a while to get to the bottom of the list. (Related conversation on #1875.)

#1740 is a better solution.

[2015-04-17 21:19] noelhenson opened #1878 "Focus by Collapsing Columns"
It would be great if individual columns could be collapsed in the same way the control column on the left can. This would help alleviate the pressure my staff can feel over too many items in a column (like our Possibles column, your Ideas column, most users' backlog column). This would also allow easier viewing of remaining columns for more complicated work flows.

[2015-04-17 21:21] CodeMan99 commented on #1878
Duplicate of #1873

[2015-04-20 05:45] roll opened #1879 "The ability to disable auto archiving"
Even custom done column archives its cards. Sometimes it's essential to see what's done in bigger period.

[2015-04-20 05:48] roll commented on #1873
:+1:

Even just vertical collapsing without horizontal moving will be great.

[2015-04-20 09:16] der-On commented on #926
I'm currently working on a very lightweight app supporting both gitlab and github from the start on. I've already got gitlab and github support working in an early prototype. Please drop me a line over at https://gitter.im/der-On/githublab-kanban if you are interested using it and or want to discuss.

[2015-04-20 13:40] ashumz commented on #306
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/828641878)

[2015-04-20 14:49] #1862 closed

[2015-04-20 14:50] ashumz commented on #1862
Hi @noelhenson,

I'm closing this out for now and will contact you via the Waffle app!

Cheers,

Ashley

[2015-04-20 14:50] #1857 closed

[2015-04-20 14:52] ashumz opened #1880 "interviews on column redesign"

[2015-04-20 20:21] #694 closed

[2015-04-20 20:21] #1553 closed

[2015-04-20 21:03] arpunk commented on #494
:+1:

[2015-04-20 23:06] manubellido commented on #1826
+1

[2015-04-21 15:41] brianmrock opened #1881 "Allow points to be customizable."

[2015-04-21 18:48] gngeorgiev commented on #926
:+1:

[2015-04-21 18:53] homeyer commented on #1297
also consider showing issue burnup when not associated to a milestone (by date range?)

[2015-04-21 20:02] mpgerlek commented on #925
+1

[2015-04-21 20:09] nditada commented on #616
+1 same issue here, we have a verification step by the QA team before we move things to production. I added the lane and went all happy to start using waffle when I realized it doesn't work. Bloking issue for us, a real pity.

[2015-04-22 03:24] gustavosotnas commented on #1297
@homeyer I do not think so, because, at least in Scrum projects, the chart is labeled with the points of complexity ("Size" number on each card) on the vertical axis and the vertical axis the points that were planned to compose the sprint, starting from maximum points of sprint (speed of the team) to zero.
The chart delimiter is the duration of Sprint, which in this case would be the Milestone due

[2015-04-22 12:12] mpgerlek commented on #969
+1

[2015-04-22 12:14] mpgerlek opened #1882 "Hover/tooltip on milestone"
When hovering over a milestone label, it would be nice to have a tooltip which shows the associated due date (if any).

[2015-04-22 13:45] AndyWendt commented on #695
:+1:  This would be pretty nice to be able to add issues from the create issue dialog

[2015-04-22 13:47] AndyWendt opened #1883 "Add Milestones from the add issue dialog or another dialog"
Having to go to github to manage issues is a little cumbersome and annoying.

[2015-04-22 13:53] austin881 commented on #909
**+1**
It would be great to be able to just start typing and then ask if a new milestone should be created and assigned like it does on GitHub issues.

![image](https://cloud.githubusercontent.com/assets/961446/7276050/98422c7e-e8c4-11e4-8429-5d32c412f087.png)

[2015-04-22 21:26] bwest87 opened #1884 "Add a "add to bottom of queue" button"
When adding things to a column, they often get sent to the top, which can inadvertently push everything to the bottom of the queue, and you end up with a LIFO system rather than a FIFO system (which is what we want). Granted, you could simply scroll all the way down and put the issue there, but that's way harder than just dragging it over, so everyone just ends up dragging it over and putting it o

[2015-04-22 22:00] CodeMan99 commented on #1852
Love the new design! :heart: Excited to see it in action.

[2015-04-23 07:47] MattiSG commented on #616
+1

[Our process](https://github.com/sgmap/mes-aides-ui/blob/master/CONTRIBUTING.md#processus) includes “deployment” and “communication” before a task is done, even though it is “code complete” and thus closable as an issue.

The current setup means there's either duplication in all columns that close, or that the issue has to stay open, adding a lot of noise for devs.

Unless there's a roadmap on

[2015-04-23 18:08] ashumz commented on #1830
see also #1753 (duplicate)

[2015-04-23 19:27] JeremybellEU commented on #1848
Was about to make a ticket for this, but luckily found this ticket. Would love to see this fixed soon for our project on the university which ends in 10 weeks.

[2015-04-23 20:26] conklinbd commented on #941
:+1

[2015-04-23 21:00] epologee commented on #1830
In agile teams, sometimes there are issues that take up close to no time, like flipping a switch, or sending out a tweet after a deployment, or changing the color of an element somewhere.

Before issues are "ready to solve" however, it's a common practice to require an estimate. That way everyone looking at the backlog knows what issues can be started. Because `0` (zero) is not an option in Waffle

[2015-04-23 21:29] jonbrenner commented on #1196
+1

[2015-04-23 21:31] jonbrenner commented on #909
:thumbsup:

[2015-04-24 07:58] elia commented on #1830
I'd like to see t-shirt sizes as @davetron5000

[2015-04-24 13:00] lpil commented on #1294
This would be great :)

[2015-04-24 14:45] homeyer opened #1885 "find low hanging fruit for our hackstars to work on"

[2015-04-24 15:13] homeyer opened #1886 "Separate project/webhook creation from viewing a board"
With GitHub's new organization authorization requirement for 3rd party apps, we need to notify users (and ideally help them ask for permission) vs erroring when making requests.

Users can edit organization permissions via this url: `https://github.com/settings/connections/applications/:client_id` (per [these](https://developer.github.com/v3/oauth/#directing-users-to-review-their-access-for-an-app

[2015-04-24 16:14] conklinbd commented on #1876
+1

[2015-04-24 16:15] conklinbd commented on #626
+1

[2015-04-24 16:16] conklinbd commented on #1851
+1

[2015-04-24 16:16] conklinbd commented on #1820
+1

[2015-04-24 16:17] conklinbd commented on #1799
+1

[2015-04-25 12:54] JeremybellEU commented on #1884
+1

[2015-04-25 13:20] JeremybellEU commented on #925
+1

[2015-04-27 09:50] rkh commented on #1547
:+1: that'd be amazing

not sure if relevant, but I just wrote a wunderlist/idonethis integration if you need some code to check out:
https://github.com/rkh/donewunder

[2015-04-27 15:00] #1880 closed

[2015-04-27 16:51] basicNew commented on #1307
Hi, @ashumz! Any news news on this? This is a workflow-killer for me :(

[2015-04-27 17:27] der-On commented on #926
Things have moved into an official channel: https://gitter.im/kopa-app/kopa

And the official repository: https://github.com/kopa-app/kopa

Join for updates and discussion.

[2015-04-28 09:28] codingjoe opened #1887 "Add business value to tickets"
To ensure the best performance for your business, it's not to uncommon to assign business points, which represent the value that will be generated by solving a ticket.

As a plus it would be cool to prioritise tickets by value per size, to ensure maximum efficiency.

[2015-04-28 13:27] carlosjoserg opened #1888 "Configurable email digest/report of workplan status"

[2015-04-28 15:17] Leezlee commented on #806
+1

[2015-04-28 16:24] wizardamigos commented on #1776
I have the same problem

[2015-04-28 16:30] wizardamigos commented on #1776
After a lot of refreshing, clicking, changing the problem disappeared.

[2015-04-28 17:43] #1794 closed

[2015-04-28 17:45] jonbrenner commented on #1840
Agreed. I want to be able to add a shortcut for an arbitrary board to my favorites list so that I don't have to navigate to it by URL. The favorites list can include just a basic filter toggle to search for projects that have a board set up already:

![include external filter](http://i.imgur.com/vLWBSqx.png)

[2015-04-28 17:52] seako opened #1889 "show branch when issue automatically moved to In Progress"
I would find it useful to be able to see the branch(es) my colleagues are working on when an issue has been automatically moved to In Progress based on branch naming conventions in addition to and in a similar fashion to the way associated pull requests are displayed.

[2015-04-28 18:16] CodeMan99 opened #1890 "Waffle.io's own badge is confusing."
Currently [this repo](https://github.com/waffleio/waffle.io) has a waffle badge that isn't very clear as to what column it should be displaying.

Currently the README.md has

[code]

Would be great to see

[code]

Which displays:  [![Stories in Progress](https://badge.waffle.io/waffleio/waffle.io.svg?label=waffle%3Ain%20progress&title=In%20Progress)](http://waffle.io/waffleio/waffle.io)

I would w

[2015-04-28 18:41] marydavis commented on #1890
@CodeMan99 agreed! Just updated, thanks :)

[2015-04-28 18:41] #1890 closed

[2015-04-28 19:04] marydavis commented on #1768
we added a toggle to view "Count by Size" on the throughput chart - closed by issue #1794

[2015-04-28 19:04] #1768 closed

[2015-04-29 05:44] zachthieme commented on #806
+1

[2015-04-29 08:55] meshy commented on #1768
Thank-you!

[2015-04-29 09:10] deepsweet commented on #902
:+1:

[2015-04-29 13:50] ashumz opened #1891 "use display name of repo to detect if a branch name should trigger an issue to move "In Progress""
Request from #1861 - because the full repo name convention that GitHub uses is messy for a branch name, allow display names for repos connected to your board to be used in the branch name in order to trigger the issue to move In Progress upon pushing the branch to GitHub.

For example:

bug-fix-username/repo#123

could instead be bug-fix-myrepo#123

[2015-04-29 13:53] ashumz commented on #1861
Hi @jcrben and @artemrizhov,

We use the GitHub naming convention currently which lets us have this functionality in a much simpler way. However, we could potentially use display names (editable in Settings->Sources) as aliases for the repo path. This would require a bit of work on our end and is not something we are immediately prioritizing, but we think it'd be awesome, so we opened #1891 to kee

[2015-04-29 13:58] ashumz commented on #1873
Hello!

Wanted to let you know we already have an open issue for this here: (#317) https://waffle.io/waffleio/waffle.io/cards/53440db224ceb40200d90f98

I will be closing this one out as a duplicate and referencing it in the above issue. We agree that columns should be collapsible and are planning to add that feature in the future!

All the best,

Ashley

[2015-04-29 13:58] ashumz commented on #317
+2 from #1873

[2015-04-29 13:58] #1873 closed

[2015-04-29 14:01] ashumz commented on #1877
Hi @sbruschi,

Can you clarify what you mean by a shortened URL? Are you referring to the link to the card modal view being shortened?

Thanks! :)

Ashley

[2015-04-29 14:04] ashumz commented on #1878
@CodeMan99 is right @noelhenson - this is a duplicate of an existing issue, #1873. Please feel free to +1 that comment or subscribe to it for updates. We are planning to do this work in the future and appreciate your comments and feedback in support of the enhancement!

All the best,

Ashley

[2015-04-29 14:04] #1878 closed

[2015-04-29 14:54] artemrizhov commented on #1861
@ashumz, while this will help to solve the problem that @jcrben noted in his comment, this is totally not useful in my case and does not solve the problem described in this ticket. I'd add +1 for the ability to set the issue repository in the settings, so that I don't have to add any unneded prefixes and suffixes to my branch names, because I already use prefixes for the task nature (i.e. feature,

[2015-04-29 16:57] kwiens commented on #1768
This is fantastic, thank you so much! This shows radically different data than closed issues / PRs over time.

More detailed reporting would be wonderful — you can imagine throughput by person by week, throughput per milestone per day / week, etc.

[2015-04-29 18:11] danielBingham commented on #1879
+1

Our sprints run for a month and we want to be able to view cards in the Done column for the entirety of the sprint.  Maybe we could customize the autoarchive period or choose to link archiving to the milestone being closed in Github?

[2015-04-29 18:17] jcrben commented on #1861
@ashumz - display names is cool, but I don't think this solves the problem that I was talking about. Nobody on my team was able to name branches anything but "waffleio/waffle.io#2" and retain the automatic moving. We were using a shared team repo and then working on branches in local forks, with the Waffle reflecting only our shared team repo issues. So your example in #1891 of "bug-fix-username/r

[2015-04-29 20:47] artemrizhov commented on #1861
@jcrben's could you please explain what you mean when saying "local forks? Are they github forks or just git-cloned local repositories? I'm a bit confused because "fork" is a github term, while "local" is usually something non-remote, i.e. on your personal work station.

[2015-04-29 20:52] jcrben commented on #1861
@artemrizhov good point - forget the "local" part; they are github forks.

[2015-04-29 20:56] artemrizhov commented on #1861
@ashumz, so as you can see, @ashumz's team uses same workflow as our team.

[2015-04-29 21:27] artemrizhov commented on #1861
@ashumz btw, you wrote

I think specifying default repo to search issue in is much more simple way than implementing display names. This should be just an option in settings, and just one simple check when your service choices right repository to deal with it's issues. Don't you think so?

[2015-04-29 21:31] ashumz commented on #1535
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/856748064)

[2015-04-29 21:34] bonds commented on #1535
+1

[2015-04-29 21:36] hitesh96db opened #1892 "Testing frames"

[2015-04-29 21:37] #1892 closed

[2015-04-29 21:44] ashumz commented on #1729
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/ashley@waffle.io/conversations/846814840)

[2015-04-30 16:18] pretentiousgit commented on #1307
+1 this just obliterated my stacks for the day, and my junior is skipping tickets 'cause they never see 'em.

[2015-05-01 01:12] Jaredude commented on #1805
+1

[2015-05-01 01:17] Jaredude opened #1893 "Multiple Themes"
A few theme selections:
Normal: What Waffle is now
Condensed: Smaller fonts and a lot less white space and space between cards
Readable: For people who don't have the best eye sight and need larger fonts.

[2015-05-01 01:21] Jaredude opened #1894 "Column Zoom"
Click the Column header and zoom into that panel with it taking up the entire screen.

On a larger projects with more issues, scrolling up and down a narrow single card column can take time. Filtering can help but only if you remember exactly what you're looking for.

[2015-05-01 11:46] JeremybellEU commented on #1535
+1

[2015-05-01 11:57] codekiln commented on #127
:+1:

[2015-05-01 23:34] jacebrowning commented on #1776
+1

[2015-05-04 13:14] jcoyne opened #1895 "Transfering a repo from one org to another"
If you transfer a repo from one organization to another on github, the change does not appear on my multi-project waffle board.

[2015-05-04 13:16] jcoyne commented on #1895
When this happens all subsequent API  calls fail:

"Unable to fetch users from Github"
"Unable to save card #10"

[2015-05-04 14:26] homeyer commented on #1895
@jcoyne, for now, you'll have to delete your project and recreate it. You won't lose any labels, but you'll have to recreate your columns and you'll lose the ranking of issues.

[2015-05-04 15:38] burtonjc commented on #1886
potential flow would be:

  1. fetch project
  2. if project exists, continue
  3. if project does not exist, check to see if it is an org project and if so has the org authorized waffle
  4. if the org has authorized waffle, continue.
  5. if the org has not authorized waffle, do not create project, return 400 with message

[2015-05-04 15:45] burtonjc commented on #1882
As simple as <tag tooltip="{{milestone.due_date}}">

[2015-05-04 15:50] homeyer commented on #1882
**Acceptance Criteria**
- [ ] make the date human understandable, like "<milestone> due in 3 days", using momentjs
- [ ] use bootstrap default tooltip styling, by using code like `<tag tooltip="tooltip content">`. For an example, see the question mark tooltip on the homepage when logged in.
- [ ] Make sure to include the tooltip name, since it might be truncated
- [ ] works on the card view and th

[2015-05-04 15:50] burtonjc commented on #1870
Sorry for the delay on this. You can still connect it, you will have to refresh your board before you see it connected. The behavior of closing the issue is actually on GitHub's side and they don't support retroactively closing issues like this. So you would still have to manually close the issue after they are connected.

[2015-05-04 15:51] burtonjc commented on #1870
I'm going to close this for now, but feel free to keep commenting on this thread if you have other questions on it.

[2015-05-04 15:57] #1885 closed

[2015-05-04 17:31] robotbrain commented on #926
+1

[2015-05-04 18:26] ultrasaurus opened #1896 "If no one is assigned, show author of pull request as avator on top right of card"
related to #1609, but different idea.  Seems like valuable information, and we seldom assign PRs -- easy to see author in github UI, not visible in waffle

[2015-05-04 18:31] sefk commented on #1896
+1

[2015-05-04 19:09] artemrizhov opened #1897 "Reopen #1861"
Hi! Is there any chance that somebody will ready the comments on the issue #1861 which seems closed accidentally by @ashumz?

[2015-05-04 19:11] dhcole commented on #1896
:+1:

[2015-05-04 20:54] jcoyne commented on #1895
@homeyer yes, that's what I did. But it's pretty confusing when this happens, and I wonder if it would be helpful for other people who do this.

[2015-05-04 20:58] homeyer commented on #1895
Oh definitely, thanks. Marking it as a bug as well, so we can consider handling it on our side.

[2015-05-04 21:27] tim-moravec commented on #846
+1

[2015-05-04 21:28] mvanhorne commented on #846
+1

[2015-05-05 05:20] hiscodeness commented on #1870
Thanks for the response, that's a decent workaround.

[2015-05-05 08:29] roll commented on #1849
Compare it to trello's:

![2](https://cloud.githubusercontent.com/assets/557395/7469265/9714db24-f311-11e4-934b-018e7b07bd49.png)

[2015-05-05 08:30] roll commented on #1826
:+1:

just think about that feature as why waffle is not complete trello killer for github related projects for now =) Also take a look at my #1849

PS.
I suppose it's possible to keep it simple - just visible due date (may be email remainders in the future). No calendars, no etc..

[2015-05-05 08:45] roll commented on #1875
It's not objective but I also just dosn't like how infinite scroll feels. Why you can't preload all the cards? It's not a landing page we can wait another 100 ms and allocate another 100kb.

[2015-05-05 08:56] roll commented on #1849
duplicate #1623

[2015-05-05 08:58] #1849 closed

[2015-05-05 09:21] roll opened #1898 "More github links"
It will be great to have more easy accessible links to github. For example:

![2](https://cloud.githubusercontent.com/assets/557395/7469838/1ff9ce94-f318-11e4-9ed7-50526f4255d2.png)

![3](https://cloud.githubusercontent.com/assets/557395/7469916/eb735806-f318-11e4-990b-15c1c03af284.png)

**use C-Click instead**
![1](https://cloud.githubusercontent.com/assets/557395/7469841/22a7097c-f318-11e4-8afe-

[2015-05-05 09:26] roll commented on #1894
:+1:

[2015-05-05 12:35] homeyer commented on #1898
@roll, did you know you can command-click the number to open a new window with the issue from GitHub?

[2015-05-05 12:36] #1897 closed

[2015-05-05 12:37] homeyer commented on #1897
Sorry about that @artemrizhov, I reopened it. I'll let @ashumz reply to it.

[2015-05-05 12:51] roll commented on #1898
@homeyer, no I had no idea, thanks. Do you have any magic to get github issues main page in one click?)

[2015-05-05 13:00] homeyer commented on #1898
Nope, no hidden command-click for that one :)

[2015-05-05 13:00] #1898 closed

[2015-05-05 13:50] marydavis commented on #1898
@roll another is you can command-click the 'add issue' button to open the GitHub new issue page in new window :)

[2015-05-05 15:47] deeonis commented on #314
+1

[2015-05-05 15:48] deeonis commented on #314
Do you have any plans to realize this feature?

[2015-05-05 15:56] narqo commented on #314
:+1:

[2015-05-05 15:58] deeonis commented on #1871
+1

[2015-05-05 17:08] ashumz commented on #1861
Hi @artemrizhov,

Sorry I misunderstood your response. It sounds like for a multirepo board where you have several forks and one "main repository", that you'd like to be able to specify that all branches you create or pull requests you issue are referencing the main (specified in settings) repo's issues? Do you also have issues enabled in the fork repos, or only in the main repo?

Thanks for the a

[2015-05-05 17:42] atz commented on #1722
A daily dashboard interface should not assume you are done using it just because you want to follow one of the very many (external) links it displays.  Compare to gmail.

[2015-05-05 17:45] atz commented on #1466
+1, see also #1722

[2015-05-05 17:56] VinSpee commented on #1722
this is a drastically different app than gmail. I'd argue that a user is going to anticipate default link behavior.

[2015-05-05 18:01] armilam commented on #1722
It definitely is drastically different from Gmail, but it is the kind of app that is likely to be kept open for long periods of time, even while clicking links.

[2015-05-05 18:02] ashumz commented on #1861
@jcrben - I was able to replicate your issue when the extra information is added to the beginning of the branch name and will update the docs/check with the team if we need to have an issue created for the problem. You should be able to add additional info to the end of the username/reponame#issuenumber still. (ie: ashumz/so-simple-theme#10-bug-fix works but bug-fix-ashumz/so-simple-theme#10 does

[2015-05-05 18:21] CodeMan99 commented on #1896
:-1: as stated. Unassigned can have meaning other than that depending on personal workflow. :+1: as opt-in (a setting).

[2015-05-05 18:23] CodeMan99 commented on #1893
Chrome's browser zoom might achieve what you are looking until (or if) this is implemented.

[2015-05-05 18:38] ashumz opened #1899 "Look at upstream repo for forks for auto-moving work in progress, pull requests, etc."
Most of the time, when companies or teams are using forks rather than branches, the issues they would be referencing in PR's or branch names will be for the upstream repo. Make this simple by looking at their upstream repo and letting them use non-cross repo syntax to move cards. (ie instead of waffleio/waffle.io#9, a fork of the waffleio/waffle.io repo would be able just to reference issue #9)

[2015-05-05 18:41] ashumz commented on #1861
@jcrben@artemrizhov,

I have created issue #1899 for this request. Our team discussed and we love the idea. May be a bit before we get to prioritizing it, though. Thank you for your patience, and let me know if there is anything else I can help with!

Ashley

[2015-05-05 18:42] burtonjc commented on #1899
:+1: on this from me, but I think we should have  a setting to disable this behavior if people want.

[2015-05-05 20:33] roll commented on #1898
Thanks. But I still think more links (issues, prs, labels, milestones) will be helpful ;)

[2015-05-05 20:55] artemrizhov commented on #1861
Yes, exactly!

Thank you!

[2015-05-05 21:00] artemrizhov commented on #1899
+1

It is already possible to associate a board with many repositories. So this feature may be represented as a drop-down list to choice the upstream repo. If it's not selected then this can be treated as disabled.

[2015-05-05 21:01] artemrizhov commented on #1899
also radio-checkboxes may be used for this :)

[2015-05-05 21:02] atz commented on #1722
A developer using this will be using it continuously every day, while performing work like accepting merge requests or pushing commits.  They are not opening it to **leave** the first time they need more info from a link.  Each detail view title bar links to the corresponding github issue, but those quite reasonably open in a new tab.  That already **is** the default behavior for the most common l

[2015-05-05 22:16] VinSpee commented on #1722
"Most common links in this application" vs "all of the Internet".
On Tue, May 5, 2015 at 17:03 Joe Atzberger <notifications@github.com> wrote:

[2015-05-05 22:25] CodeMan99 commented on #1722
@VinSpee Slightly separate concern, but I would like your opinion since you seem to be opposed to setting a new tab target by default.

What about if I say #1722 in comment like this one. Should it link to github like it is now, or should it bring up the model of that card in waffle? (There are already issues suggesting this... not in the mood to dig for a hour though.)

[2015-05-05 22:37] VinSpee commented on #1722
@CodeMan99 I would expect that it opens the card in waffle.

Here's my complete picture of this situation (as a daily user)

1. I expect that if I'm using waffle, I will stay using waffle. Taking me somewhere else without telling me (whether it's in a new window or not) feels odd. It may make sense to show some sort of indication that a link will take you out of waffle to Github (possibly an icon

[2015-05-06 12:50] shubhamchaudhary opened #1900 "Waffle doesn't give an option to add new milestone"
Steps to reproduce:
I enter new milestone string in _"Select a milestone for this issue"_ textbox

Nothing happens

Desired behaviour:
An option to add new milestone appears

[2015-05-06 14:08] CodeMan99 commented on #1722
@VinSpee I think that's reasonable expectations.

In my opinion #1898 has some good examples of icon usage to help indicate a link will leave waffle.io.

[2015-05-06 14:53] #1861 closed

[2015-05-06 14:55] #1740 closed

[2015-05-06 15:07] ashumz opened #1901 "monthly adoption metrics"
https://docs.google.com/a/rallydev.com/spreadsheets/d/1mBFh_1Qn3-Xh43e2SpU87m9T2Rf7xYMo3CskZoMHl1Q/edit#gid=1

[2015-05-06 17:27] #1901 closed

[2015-05-06 18:21] ashumz opened #1902 "Check secondary sources on multirepo boards to determine permissions for cards that belong to the secondary source(s)"
Currently if you are not a collaborator on the primary board of a multirepo board, you can't take any actions on the board, as if you were a noncollaborator, even if you are taking action on cards that belong to a source for which you are a collaborator.

Ideal behavior would be the ability to interact with cards on a multirepo board if you are a collaborator for the given source with which you ar

[2015-05-06 22:05] underc0de commented on #806
+1

[2015-05-06 22:52] ultrasaurus commented on #1896
note: for open source projects (or any time there are contributors without commit rights), it is impossible in github to assign an issue to someone who is not a committer.  Part of the implication of this issue is that we could set the avatar in the top-right be to someone on the issue / pull request who is not a committer on the project.

[2015-05-06 23:18] CodeMan99 commented on #1896
I assume you mean, a fork vs an in-organization pull request?

If so, I suggest that waffle.io add a syntax that would be the "opt-in" I suggested before. Let's pretend this card was a pull request and you (@ultrasaurus) are the author. If I want to set the *waffle.io only* assignment to you, I could write `Assigned to @ultrasaurus`. This why I could also easily swap between "unassigned", "assigne

[2015-05-07 20:54] CodeMan99 commented on #1900
duplicate of #1883?

[2015-05-07 20:58] CodeMan99 commented on #1884
Duplicate of #1874 ?

[2015-05-07 21:04] homeyer commented on #1884
Yep, let's track this on #1874. Thanks @CodeMan99!

[2015-05-07 21:04] #1884 closed

[2015-05-07 22:29] JWGmeligMeyling commented on #1297
:+1:

[2015-05-07 22:31] JWGmeligMeyling commented on #1720
:+1:

[2015-05-08 14:30] ullmann commented on #846
+1

[2015-05-08 15:52] lebolo commented on #1392
:+1: Would love this to better organize my waffles!

[2015-05-08 17:32] ashumz opened #1903 "hooks are not being enabled for newly Waffle'd non-org repositories"
current behavior: when a collaborator or a non-org repo Waffles the repo for which they are a collaborator, hooks are not being enabled.

expected behavior: when a collaborator logs in to a non-organization repository for the first time, hooks should be enabled.

[2015-05-08 18:21] andreackinney commented on #1641
+1000000

[2015-05-08 18:37] tyler-ball commented on #1297
:+1: and I would be happy to help test the feature if there was any current work on it!

[2015-05-08 19:01] homeyer commented on #1903
at this point, only the owner can create hooks. emailed github support, we'll see what they say.

[2015-05-08 22:09] #1903 closed

[2015-05-10 20:43] SteveALee commented on #626
+1
I just noticed with another column set a backlog the backlog column still says all open issues go here.  Automatically updating that is a second issue I guess

[2015-05-11 01:54] homeyer commented on #1886
blocked reason: HTTPS and API come first.

[2015-05-11 09:27] joerick commented on #1875
I agree with @jcn on this one. The scrollbar is a subtle but useful indicator of the size of the list. I often don’t realize how long my backlog is because the scrollbar makes it look like about 15 issues.

I’d be happy with either empty space or perhaps 50% opacity cards while they are loading, if I scroll too fast.

[2015-05-11 10:53] elia opened #1904 "Make waffle card urls bound to the GH issue number"
That would be really convenient as the urls would become really predictable.

There's probably the case of multirepo boards which could maybe use an id in the form of <repo-name>-<issue-id> or fallback to the current system (which I suppose are the internal db ids)

[2015-05-11 15:13] JWGmeligMeyling opened #1905 "Use shields.io for the waffle badge"
Use shields.io for the waffle badge. For consistency with other badges.

[2015-05-11 15:16] JWGmeligMeyling commented on #1256
:+1:

[2015-05-11 20:36] davidmuzi commented on #1392
+1

[2015-05-12 10:42] jodastephen opened #1906 "Auto tracking branch names containing slashes"
The branch name `topic/my-work-#80` should automatically transition issue `#80` in the main repo, not try to find repo "topic".

Issue #1686 was closed as won't fix. This issue exists to try and figure out a solution. The current approach makes the rare case of referencing another repo in a branch name the default, while preventing the common case of slash separated branch names (which anecdotal e

[2015-05-12 13:21] mpigsley commented on #1889
This would be super useful! :+1:

[2015-05-12 13:28] mpigsley commented on #1730
+1. Also, allowing search by user's full name when assigning a team member to an issue would be top

[2015-05-13 13:30] lebolo commented on #1805
:+1:

[2015-05-13 16:54] mourner commented on #958
Yes, please!

[2015-05-13 18:07] statik commented on #806
:thumbsup:

[2015-05-13 22:05] klawsonr commented on #1307
+1 this is a huge problem for my company and looking for other options at the moment.  any update on the timeline for this?
similar issue is having to drag items all the way up a column. if you can jump to a location (top of column), that would also help.

[2015-05-14 01:53] AndyWendt commented on #1900
I would say it is a duplicate.  That is the intended behaviour I am looking for.

[2015-05-14 04:36] IanVS commented on #127
+1 for showing the number of stories

[2015-05-14 06:13] JaKXz opened #1907 "Attached PRs do not get column labels"
It seems that whenever PRs are attached to issues and then the issue is moved around to different columns, the PR does not get the same labels added to it.

[2015-05-14 14:44] zanerock commented on #803
Product looks great, but basic dependency reference is hard requirement.

[2015-05-14 16:03] ashumz opened #1908 "Investigate: Intercom messages reported to not show properly in Chrome"
Steps to replicate:
1. duplicate the welcome message and private repo message
2. send to self
3. view board in Chrome

Expected behavior:
All appears as normal and each message's text appears properly

Report from [user](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/ashley@waffle.io/conversations/876537342):

"In the bar on the right I see 3 message previews from yo

[2015-05-14 16:07] ashumz commented on #1908
![https://cloudup.com/ct9dw5YFYkX]

[2015-05-14 16:10] ashumz commented on #1908
![screen shot 2015-05-05 at 9 07 14 am](https://cloud.githubusercontent.com/assets/100216/7636005/257b9f0c-fa32-11e4-97c3-2a10ee76005d.png)

[2015-05-14 22:33] ppvg commented on #1658
I've noticed this as well. Scrollbar placement is offset but consistent.

Applies to chrome 41 and 42 (gif below is in 42.0.2311.135).

![scroll](https://cloud.githubusercontent.com/assets/67802/7643404/9b2468b2-fa99-11e4-88fc-a8e773a0a6c6.gif)

[2015-05-15 03:55] metasean commented on #926
Yet another +1  & :thumbsup:

[2015-05-15 13:20] #1774 closed

[2015-05-15 13:22] ashumz commented on #1319
Our throughput graph now has the ability to toggle on throughput by size/points in addition to just the number of issues. You can also exclude labels from the count now (like "duplicate" or "wontfix")

Let us know if you have questions!

Ashley

[2015-05-15 13:22] #1319 closed

[2015-05-15 13:30] ashumz opened #1909 "ability to configure time frame for throughput graph (by day, monday-monday, etc)"
[requested by user](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/882129464)
"My team would love to see this on the metrics page: Throughput by day in addition to by week, so we can compare week-over-week."

[2015-05-15 15:42] ashumz commented on #582
[internal conversation](https://www.flowdock.com/app/rally-software/rudder/threads/4-50aRdVQlB1OaRIY8po2rZTDw2)

[2015-05-15 20:05] hiscodeness commented on #1870
Sorry to bring this up again, but this happened to me today, and I'm definitely not seeing the cards (issue+PR) getting bundled together, even though I put connects #nn from PR to issue and vice versa and keep refreshing the board.

So what did I do? I had the thread for my merged and closed PR open in GitHub, where I added a comment "connects #issue". The reference in the comment links to the cor

[2015-05-15 20:30] homeyer commented on #1870
@hiscodeness, we only keep track of closed issues and PRs for a short amount of time. If the PR isn't on the board, we aren't able to visually link it to the issue on the board.

[2015-05-15 20:59] hiscodeness commented on #1870
Sorry if I wasn't clear. The PR is visible in the done column, it is linked with two other issues. I just cannot get the one issue connected. It is an issue I forgot to link (using resolve #issue) when creating the PR.
________________________________
Lähettäjä: Andrew Homeyer<mailto:notifications@github.com>
Lähetetty: ‎15.‎5.‎2015 23:30
Vastaanottaja: waffleio/waffle.io<mailto:waffle.io@noreply.

[2015-05-16 02:18] lotyrin commented on #1905
Yes please. The current waffle badge is quite noticeably different from any other badges.

[2015-05-17 15:18] oparoz commented on #1876
Yep, that's needed

[2015-05-18 10:45] hiscodeness commented on #1870
Here's a screenshot. I'm trying to connect issue number 7 to PR number 20.
![image](https://cloud.githubusercontent.com/assets/8625258/7679304/237ca9d2-fd64-11e4-9b40-aff439041b65.png)

[2015-05-18 14:54] homeyer commented on #1870
@hiscodeness, can you show us what the title and description is for PR#20?

[2015-05-18 16:23] ashumz opened #1910 "column labels are showing 0 issues when selected in filter"
steps to replicate:
view Filter->Labels
Select a column label by which to filter
Result: 0 issues are shown, even if they have the column label applied

Expected behavior:
column labels should not show when filtering by label

[Flowdock thread (internal)](https://www.flowdock.com/app/rally-software/rudder/threads/BM3rHSIxA5gVRlnMspQV-6IAZRW)

[2015-05-18 16:29] ashumz opened #1911 "adding an issue with a label and dragging it into your first column temporarily changes the column label for that column and all of the cards get reordered when the column label switches back (for some reason?)"

[2015-05-18 16:30] ashumz opened #1912 "trying again"

[2015-05-18 16:31] #1912 closed

[2015-05-18 16:32] #1911 closed

[2015-05-18 16:33] ashumz opened #1913 "column labels are showing in filtered view and 0 issues show when selected"
steps to replicate:
view Filter->Labels
Select a column label by which to filter
Result: 0 issues are shown, even if they have the column label applied

Expected behavior:
column labels should not show when filtering by label
[flowdock thread(internal)](https://www.flowdock.com/app/rally-software/rudder/threads/BM3rHSIxA5gVRlnMspQV-6IAZRW)

[2015-05-18 16:34] #1913 closed

[2015-05-18 17:56] globexdesigns commented on #886
Happens for me as well on Windows 7, Chrome 42.0.2311.152

[2015-05-18 19:33] hiscodeness commented on #1870
Sure, why not:
![image](https://cloud.githubusercontent.com/assets/8625258/7688412/f3b249d4-fdac-11e4-8f15-d316da787c10.png)

I edited some information out of the image in my previous comment. For example, there were more issues resolved by the PR than shown previously. Also, issue no. 7 is associated with a milestone, while the PR was not, but so is issue no. 16 which is correctly connected. Here

[2015-05-19 10:31] michal-jomsocial commented on #846
yes, please

[2015-05-19 12:59] samdeane opened #1914 "Add ½ to the list of potential times available"
I’m totally on board with the whole fibonacci-style list of numbers, but in practical usage we’ve found that we want to use the numbers to represent days, and 1 day is just too large a minimum time unit.

We’ve adopted the approach of treating each unit as 1 “half-day”, but it’s a pain having to do that mental translation.

In an ideal world, we’d be able to customise the list, but the next best o

[2015-05-19 13:46] homeyer opened #1915 "Refine how automatic work tracking works: defaults, credentials, configuring user for automated actions"
For example, when a PR is opened, we assign the "In Progress" label. Today, Waffle determines which user to make that modification as using this logic:
1. If the user who opened the PR is a waffle user, and we have a valid token for them, we assign the label using that user.
2. Otherwise, we grab the first user on the team that we find who has a valid token.

This issue is to let the user we take

[2015-05-19 13:56] homeyer opened #1916 "mac app, using nw.js"
It'd be sweet to have Waffle on the mac doc, and should be possible using nw.js. A few tutorials: https://github.com/nwjs/nw.js/wiki/Tutorials-on-Node-WebKit

[2015-05-19 14:15] ThePenguin1140 commented on #1454
:+1:

[2015-05-19 14:21] ashumz opened #1917 "labels are reordering and renaming inside the detail modal"
[reported by a user](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/search/conversations/877886624) (see video in conversation thread)

[2015-05-19 14:22] ashumz commented on #1917
![holycow-labelsarepossessed](https://cloud.githubusercontent.com/assets/100216/7705203/d7f6005a-fe10-11e4-90aa-1c54abf2bac4.gif)

[2015-05-19 14:27] ashumz commented on #1870
Hi hiscodeness,

Thanks for providing that -- very helpful. It looks like you'll need to add the wording to the title of the issue (editable on the board view or in GitHub) or in the description of the issue (rather than the comments.)

You can edit the description in the card detail modal by selecting the pencil icon to edit the description (in the upper right hand corner of the description field

[2015-05-19 15:17] levonet opened #1918 "Sort issues in columns by first Label, Milestone, Size or Assigned"

[2015-05-19 15:38] levonet commented on #1918
For me the solution to the problem #1168

[2015-05-19 15:38] #1918 closed

[2015-05-19 16:08] nishanov commented on #846
+1

[2015-05-19 16:54] #1917 closed

[2015-05-19 17:49] hiscodeness commented on #1870
@ashumz Thanks, that did the trick!

[2015-05-19 18:45] marydavis opened #1919 "exclude unlabeled not working in metrics"

[2015-05-19 21:06] TravisEz13 commented on #927
+1 managing a large number of pull requests.  I need to go through a lot of requests to see if the user has replied.

[2015-05-20 07:41] nikeshashar opened #1920 "Automatically add milestone"
when moving an issue to In Progress can a milestone be automatically assigned.

Vice versa, if we move something to a column a particular milestone is added.

[2015-05-20 08:27] epicleptico opened #1921 "No 'Access-Control-Allow-Origin' bug"
While accessing a private repo through application we are retrieving the following error

[code]

user-agent: *Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.152 Safari/537.36*

Google chrome Version:  42.0.2311.152 m

[2015-05-20 08:33] braisdesousa commented on #1921
Same Here

[2015-05-20 09:52] homeyer commented on #1921
Can you see if logging out and logging back in fixes it?

[2015-05-20 09:56] epicleptico commented on #1921
i tryed and nothing happens.

Also tested with Firefox and IE 10 and same error.

Seems that the proper header is not set for a private repo (Tested with public repos and all works)

[2015-05-20 15:28] homeyer commented on #1921
We fixed the issue on our end, sorry about that!

[2015-05-20 15:28] #1921 closed

[2015-05-20 15:29] epicleptico commented on #1921
thanks a lot !

[2015-05-20 20:43] ashumz opened #1922 "ability to hide boards from your dashboard"
In the case that you are a member of a board but do not want to see it on your dashboard, add the ability to hide boards on dashboard. This would also hide the projects from your project dropdown.

[2015-05-20 20:53] metasean commented on #1294
:+1: milestones

[2015-05-20 21:23] ashumz commented on #1686
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/899525370)

[2015-05-20 21:27] ashumz commented on #1686
@erichexter -- it is just difficult from our end to be able to differentiate between a cross repo reference and a gitflow reference. It's possible we can consider exceptions for words that would proceed branch names under the git flow pattern (ie: ignore the word "feature" if it is followed by a backslash). If we have enough traction from users on this, this is a potential solution (or one of seve

[2015-05-20 21:31] ashumz commented on #1906
Hi @jodastephen,

Thanks for taking the time to make these suggestions and make some really great points. We've removed the wontfix label and will reference this issue as a supporting +1. Do you mind if I close this as a duplicate, as we will have your comments referenced through the open issue, #1686?

Ashley

[2015-05-20 21:32] ashumz commented on #1686
+1 - See #1906 (duplicate) where @jodastephen makes the following suggestions for potential solutions:

1) A configurable setting per repo to determine how to interpret slash separated branch names, either as cross-repo or single repo.

2) A configurable set of prefixes, probably defining the related repos that should be recognised as cross-repo, with everything else being single-repo.

3) A confi

[2015-05-20 22:08] ashumz opened #1923 "support grouping assignees into team members per project"
This request first came from an active early adopter of our's who currently filters and bookmarks their board by a list of the assignees who are part of a team. They share one board across several teams, but need to be able to filter quickly by the team members that are on Team A or B at any given time.

The bookmarked url does not persist the filter across navigating around, so this makes it diff

[2015-05-20 22:09] ashumz commented on #1923
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/ashley@waffle.io/conversations/868976072)

[2015-05-20 23:01] jodastephen commented on #1906
Fine to close as duplicate now won't fix is removed. Thanks for the response.

[2015-05-21 09:08] julian-weinert commented on #1294
👍🏼

[2015-05-21 09:52] wjblair235 opened #1924 "export board to png or pdf"
export all the board to PNG image or a PDF document.

[2015-05-21 10:10] kintso commented on #828
:+1:

[2015-05-21 11:03] yurinnick commented on #1454
+1

[2015-05-21 12:57] homeyer opened #1925 "scrolling collaborators by clicking scrollbar drags card"
[customer reported](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/andrew@waffle.io/conversations/886659803).

To reproduce, in FF, have a list of collaborators that requires you to scroll. Grab the scrollbar with your mouse, moving it will move the card.

[2015-05-21 13:31] kintso commented on #1307
+1

[2015-05-21 13:32] kintso commented on #1307
Would you have a timeline on this? The issue was opened 9 months ago and it is something preventing us to switch to Waffle.

[2015-05-21 17:16] #1870 closed

[2015-05-21 21:23] ashumz commented on #1554
[+1 - internal Flowdock convo](https://www.flowdock.com/app/rally-software/rudder/messages/2503224)

[2015-05-21 21:45] anthonyettinger commented on #1554
+1 -- it would be nice to be able to assign to anyone when creating a ticket.

[2015-05-22 03:03] homeyer commented on #1908
Intercom says they only support non-beta browsers, we're at their mercy on this one :)

[2015-05-22 03:03] #1908 closed

[2015-05-22 08:14] pjf commented on #896
+1 so hard. I have enough columns that the "closed" column is often off the screen now, so this would be perfect.

[2015-05-22 08:15] pjf commented on #828
+1 from me as well. We have so many columns that the 'done' column is often off-screen.

[2015-05-22 13:02] bradyholt opened #1926 "drag ordering does not work when moving up"
When dragging an item from higher to lower position, it saves correctly.  If you drag an item from lower to higher position, it does not save and reverts on next refresh.

[2015-05-22 18:45] jaredj commented on #314
+1

[2015-05-23 11:22] marleypetro commented on #1926
+1

[2015-05-24 07:28] tosaravanan commented on #1392
+1

[2015-05-24 10:31] fcvarela opened #1927 "Support horizontal lane per milestone"

[2015-05-25 06:49] jguarShark commented on #1915
+1

[2015-05-25 06:57] cmilr opened #1928 "Add label directly from the board"
It would be nice to be able to add labels to cards directly from the board, instead of having to click through to the card.

[2015-05-25 19:22] therobhayes commented on #1866
+1

[2015-05-25 19:24] therobhayes commented on #846
+1

[2015-05-25 19:25] therobhayes commented on #761
+1  would really enjoy this - or even having some example boards that you can copy into your org to help you get up and running in the 'correct' way, before you find out what works best for your team.

[2015-05-26 01:38] bmonetti commented on #1307
Bumping this.  We have been expecting this to be fixed based on this comment: https://github.com/waffleio/waffle.io/issues/1307#issuecomment-92508180

As described by many people above, this bug is making Waffle unusable for us, and we will be switching services if this is not fixed asap.

[2015-05-26 02:28] vonpupp opened #1929 "Command line tool"
Hello,

It would be amazing if waffle could have an API + a simple command line tool, maybe it could be something similar to Gitflow as a wrapper on top of git. Some ideas:

[code]

You might want to checkout [Node GH].

I think you got the idea =)

Regards,

[Node GH]: http://nodegh.io/

[2015-05-26 03:13] dimus opened #1930 "As a User I want to have an integrated view of all my repositories"
I have several repositories on which I work simultaneously. When I plan my iteration it is very cumbersome as all the tickets are spread all over the repos. It would be very useful for me to have an integrated view where all my issues appear at the same time, and I can see my iteration much more clear

[2015-05-26 09:34] electrical commented on #1256
I found the same issue. Assigned a label to an issue, change something in waffle and the label got removed.

[2015-05-26 17:22] bennage commented on #1297
:thumbsup: +1

[2015-05-26 18:08] OwenBrotherwood commented on #1930
I deceided that my own mult-repo hell could be solved if I created one repo to hold the issues of all repos (a bit like this).
I made an organisation (but a user's forks or own work is ok).
I reference up and down stream issues in an issue. An issue can be a story or a collection of stories (a novel).

This being said :+1: to the issue as it could help many I believe

( https://github.com/sloopbac

[2015-05-26 18:34] OwenBrotherwood commented on #924
Backlogs are a bitch :-1:
A backlog is often a product of taking in waffle after a backlog is accumilated and not having time or the overview of issues.
A backlog column should have some form for extra view that can take the backlog and show "interesting issues". Oldest first, most commented, least commented, newest in a highly clickable way to allow for tagging and assignment with the goal for cl

[2015-05-26 18:53] OwenBrotherwood opened #1931 "automatic functions for issues and pr's"
If one has a public repo, issues and pr's become hard to manage.
Allow for automatic lock on issue or pr creation.(easy one)
Allow for only members of a Github Organisation/ User to create issues and pr's (hard one)

To allow an Organisation to take in issues, but to control how many more +1 comments etc are allowed before an issue is taged and given summary to define a story that can be given a c

[2015-05-26 19:02] OwenBrotherwood commented on #1899
A fork can also have issues enabled.
Could give unkown side effects

[2015-05-27 01:44] Nkzn commented on #926
:+1:

[2015-05-27 22:01] dimus opened #1932 "Label "in progress" persists if ticket is closed by git comment"
If an issue is closed by adding a comment like "Close #443" the issue moves to the Done bucket correctly, but its "in progress" label does not dissapear

[2015-05-28 05:13] mfn opened #1933 "[OSX] CMD-Click on Issue/PR should open tab in background"
Being on FF 38 here.

Usually, CMD-Click on a link opens a tab in the background.

Not so in Waffle; the current behaviour for me:
- click on issue/PR: opens in-page popover
- CMD-click on issue/PR: open tab in front (i.e. immediately switches to it)

This negates my work flow to open multiple issues/tabs for further interaction/personal queueing in the background and is quite annoying.

[2015-05-28 15:16] jonturneratduke commented on #1753
second this. We use fractional days (quarter, half, full, or two), but hours would work equally well (2,4,8,16).

[2015-05-28 16:14] jonturneratduke commented on #1830
+1. Tshirt size (S/M/L) would be a practical improvement over fibonacci series.

[2015-05-28 21:55] #1733 closed

[2015-05-29 00:28] ashumz opened #1934 "[investigate] automatic work tracking not working for newly created projects"
I am able to move work in progress with branch names and move cards to review on existing repos, but when I create a new repository, neither action happens in real time.

A user reported this here[https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/916758371]

[2015-05-29 01:19] petergault commented on #1691
Yes Please! Show me all of my issues across all of my repos. I'm involved with projects across a bunch of different repos, and I need a central location where I can see everything and move my stuff around. This would be super helpful!

[2015-05-29 01:28] ashumz opened #1935 "ability to add assignee outside of collaborators for your repo (ie: contributors or non-GitHub'ers)"

[2015-05-29 03:33] kwiens commented on #1733
What does 'needs review' -> 'in progress' -> 'blocked' -> 'closed' mean?

[2015-05-29 11:14] rvion commented on #127
+1

[2015-05-29 12:07] levonet commented on #1851
Sort tasks by priority is discussed in #1168

[2015-05-29 18:45] mackermedia commented on #1926
+1

[2015-05-29 18:45] aruehlen commented on #1926
+1

[2015-05-29 20:26] markbasham commented on #1935
Thanks for raising the ticket.

An example of this in my system is that as a plugin framework it would be nice to let people select which plugins they will be working on to avoid clashes.  However they would be doing this through pull requests rather than as direct collaborators, and the github ticket system does not allow them to be assigned.

[2015-05-30 17:28] skarfacegc commented on #1294
:+1:

[2015-05-30 22:00] alexistruenoir commented on #941
+1

[2015-06-01 06:54] wjblair235 commented on #218
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/918832260)

[2015-06-01 07:04] chmac commented on #218
I'd suggest looking at Trello's mobile experience. Their apps are great. Not sure if you can get the same experience on mobile web, but I'd guess pretty close. I'd suggest that moving issues around requires a press and hold, then shake the card after the hold delay, and now let me drag it around. Then I can scroll more intuitively.

Also, the ability to add weight on mobile is really hard right no

[2015-06-01 17:39] chmac opened #1936 "Overview with tiny cards"
I'd love to see a view where I can make the cards tiny, maybe just show their number and weight. I want to be able to visually see all the cards that are live on this current sprint. The goal is to glance at the board and get a visual feel for how much progress we're making.

In fact, cards sized per weight would be awesome! So bigger weights get bigger cards. But the whole thing has to fit on the

[2015-06-01 17:39] chmac commented on #1817
I'd also like to be able to scroll the whole page. I can see some value in scrolling a single column, being able to move stuff between columns maybe, but the issue I have is that I can't get an overview of how much is in each column. Sure, there are numbers, and weights, but I want to see it visually as well. :-)

Having said all that, my issue might be better solved by #1936

[2015-06-01 17:40] chmac commented on #1894
:+1:

[2015-06-01 17:41] chmac commented on #317
:+1: huboard does this really well

[2015-06-01 17:46] chmac commented on #1799
:+1:

I'd like to see the ability to create negative filters. For example, to filter by "not assigned to X", so I can see all other tickets. I can create that by choosing all other users and leaving one unchecked, but that's cumbersome, and would get really tiresome with a team of any size.

[2015-06-01 22:53] burtonjc opened #1937 "Board banner if project is not hooked"
on any board load, if the project exists and isn't hooked, notify the user with the same message as when the project is created without being hooked

[2015-06-01 22:54] burtonjc opened #1938 "Prevent duplicate projects from being created"
mongoose unique index on `project.name`, as a migration that also removes the 60 dupes in prod. reference [this post](http://blog.mongolab.com/2014/03/finding-duplicate-keys-with-the-mongodb-aggregation-framework/)

[2015-06-02 01:49] PatrickDattilio commented on #1928
+1
A dropdown (like assigning a user) in the bottom left corner  would be perfect

[2015-06-02 04:36] natefinch commented on #1923
I work for Canonical, on their Juju project.  I want to try to push for us to use waffle, but this is kind of a deal breaker.  We have over 20 developers on our project, and a lot of us work on the same repo.  We use a leankit board right now, and we started with one board for everyone - it was terrible, even with filtering, you still had to have one layout for everyone, and every time you needed

[2015-06-02 07:28] dzhenko commented on #1799
@CodeMan99 not really - I was talking about something more general - NOT with milestone, NOT assigned to ... just a global not filter. The ticket #1045 is referring only about labels.

[2015-06-02 12:22] Rarst commented on #317
+1

[2015-06-02 12:23] Petervw commented on #317
+1

[2015-06-02 12:35] homeyer commented on #1934
[support case](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/andrew@waffle.io/conversations/919344643)

[2015-06-02 12:39] wjblair235 commented on #1934
[support case](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/conversation/916421009)

[2015-06-02 12:42] wjblair235 commented on #1934
[support case](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/conversation/921517188)

[2015-06-02 18:48] bslavin commented on #1297
+1

[2015-06-02 22:21] yattias commented on #941
+1

[2015-06-03 07:20] homeyer opened #1939 "project creation fails for non-lowercase repos"
Anyone who tries to create a project with a repo that has caps in it is going to have a rough day.

Behavior:
- project is created, but can't be fetched, so you keep seeing the banner to create a project again and again
- you can't go to settings to remove the duplicates

[2015-06-03 10:52] adussel opened #1940 "AA user, I can order easily my waffles in my backlog:)"
As a user, it should be easy to order my backlog. As far as now, it is quite complicated if you have lots of stories.

Pivotal Tracker has a good solution for that pb : they let us clone momentarily a column (ie the backlog) and let us drop issues from the first column to the cloned one.

Any other solution that makes it easy should be fine though :)

[2015-06-03 14:41] cpostma-rally commented on #926
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/926030054)

[2015-06-03 14:54] #1886 closed

[2015-06-03 17:39] harlantwood commented on #1902
+1

[2015-06-03 18:29] #1939 closed

[2015-06-03 18:29] #613 closed

[2015-06-03 19:35] #1934 closed

[2015-06-03 21:31] pattscotton opened #1941 "AA user, I can easily move groups of waffle cards"
moving cards one by one to prioritize a column of issues is too time consuming.

[2015-06-03 23:29] burtonjc commented on #1938
I'm not doing an index or cleaning up the dups. Instead, I am just doing a check in code before we create a project to make sure there isn't already one for that repo.

[2015-06-04 01:20] teasp00n commented on #1297
+1

[2015-06-04 02:31] jbenet commented on #1902
+1

[2015-06-04 12:10] meghapg commented on #1938
hi

[2015-06-04 12:46] psiniemi commented on #306
+1

[2015-06-04 18:47] swettk commented on #926
+1

[2015-06-04 19:08] ashumz opened #1942 "clean up customer issues related to #1886"
See Intercom

[2015-06-04 22:59] #1938 closed

[2015-06-04 22:59] homeyer opened #1943 "fetching project should add access to project"
**Acceptance Criteria**
- [ ] board routes in app no longer add access
- [ ] api GET project does it

[2015-06-05 09:58] rockerhieu commented on #806
:+1:

[2015-06-05 14:07] #1659 closed

[2015-06-05 14:08] homeyer commented on #1659
not seeing any errors now.

[2015-06-05 14:10] jsucher commented on #1926
+1

[2015-06-05 14:33] homeyer opened #1944 "use assignee endpoint instead of collaborators"
https://developer.github.com/v3/issues/assignees/#list-assignees

[customer reported issue](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/andrew@waffle.io/conversations/903884266)

[2015-06-05 14:48] homeyer opened #1945 "fix project GET performance"
- [ ] migration: add "lowerCaseName" on project
- [ ] add index on lowerCaseName
- [ ] change queries to use lowerCaseName

[2015-06-05 17:27] dykesk opened #1946 "add ability to add issues not associated with a repository"
It would be nice to be able to add issues to waffle that aren't associated with a code (for instance, more PM type of tasks, planning, reporting, etc) so that you could use waffle as a more general PM tool - and also link this capability back to Rally as well

[2015-06-05 18:12] yattias opened #1947 "Allow filtering per column"
Right now filtering is per board but it would be very useful to be able to apply the same filtering per column

[2015-06-05 20:07] Merelleya commented on #941
+1

[2015-06-07 03:05] ksuderman opened #1948 "Allow multiple selections of repository sources"
When configuring the sources (repositories) for a project I would like to have a checkbox beside each GitHub repository so I can add more than one at a time.  Ideally there will also be a textfield for the display name to be used.  This view/page should be the default anytime I want to configure my project's sources.

[2015-06-08 08:57] cpostma-rally commented on #941
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/931385904)

[2015-06-08 13:53] yattias commented on #941
Asana projects should have a 1:1 relationship between a waffle.io board. Labels in Asana should also sync over. As far as the recursive nature of Asana where tickets could have a list of tickets without end, this will require further thinking.

[2015-06-08 15:22] homeyer opened #1949 "tell user when they need org access for a project"

[2015-06-08 19:13] ashumz commented on #1813
+1 from user on Twitter and +1 from Strongloop users

[2015-06-08 19:15] ashumz commented on #1813
Occasionally, if you try to add too many repos at once you'll hit the rate limit

See [internal convo](https://www.flowdock.com/app/rally-software/rudder/messages/2548110)

[2015-06-09 15:21] #1943 closed

[2015-06-09 16:14] ingolfured opened #1950 "get email notification at certain time"
Being able to set date and time for a email notification to be sent to remind you to review the ticket

[2015-06-09 18:24] burtonjc opened #1951 "Use collaborator endpoint for comment labels"

[2015-06-09 18:34] #1944 closed

[2015-06-09 18:34] #1951 closed

[2015-06-09 19:08] adrianolisboa commented on #806
:+1:

[2015-06-09 19:11] burtonjc opened #1952 "Make our server side tests more strict about external request mocking"
use something like [nock.js](https://github.com/pgte/nock)

[2015-06-09 20:47] #1942 closed

[2015-06-10 04:09] aaronmallen commented on #806
:+1:

[2015-06-10 04:10] aaronmallen commented on #494
:+1:

[2015-06-10 04:12] aaronmallen commented on #1914
:+1:

[2015-06-10 09:42] cpostma-rally commented on #806
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/937154447)

[2015-06-10 10:40] mbulkeley commented on #806
+1

[2015-06-10 10:41] NanoDami commented on #806
+1

[2015-06-10 10:45] mbulkeley opened #1953 "Gerrit integration"

[2015-06-10 10:49] mbulkeley commented on #1953
+1

[2015-06-10 10:55] homeyer opened #1954 "dashboard project links should be real links"
You should be able to command-click to open multiple projects. Right now they aren't real links, so that doesn't work.

**Acceptance Criteria**
- [x] project dashboard links are `a ui-sref` tags, instead of custom `ng-click`s on divs.
- [x] settings gear should also be a real link.

[2015-06-10 13:10] aviau commented on #1953
Our use case:

We use https://review.openstack.org/ and our repository is mirrored on https://github.com/stackforge/

[2015-06-10 17:32] mohierf commented on #1914
+1

[2015-06-10 20:37] aaronmallen commented on #616
:+1: we have a column "Closed (Broken)" which gives a tag `wontfix` it would be nice if the logic flowed like:

[code]

[2015-06-10 21:37] byannoni commented on #494
:+1:

[2015-06-11 00:22] frosforever commented on #317
:+1:

[2015-06-11 14:20] travisstokes opened #1955 "Assignee Management on Transition"
Add two column settings:

1) Set actor as assignee - sets the current actor as the assignee when an issue is moved into the column
2) Clear assignee - removes the current assignee when an issue leaves the column

This will enable smoother transitions between lanes like Development and Testing where the collaborator will change.

[2015-06-11 14:24] travisstokes opened #1956 "Support alternate column counts when filters are applied"
Currently when a filter is applied, the column counts show [Displayed] / [Total].

As a user, I would like the ability to have it display [Displayed in this Column] / [Total Displayed on Board]

[2015-06-11 18:34] ultrasaurus opened #1957 "I need to be able to give waffle fewer permissions"
I should not have to give permission to access ALL of the repos in ALL orgs than I'm a part of to use waffle for one repo in one org.  I may have to stop using waffle and that would make me sad.  Please fix!

[2015-06-11 19:02] Rush opened #1958 "Support github editor suggestions"
It's a big pain replying to issues in waffle itself as I cannot start writing `@` and have waffle suggest other users ... Most of the time I simply go directly to Github. If you supported the things that Github editor has ... Waffle would be all we need!

Another cool Github's feature is pressing `r` to automatically quote selected text.

[2015-06-11 19:09] ultrasaurus commented on #1957
or all private repos in the case of a private repo, which is even worse

[2015-06-11 19:12] ultrasaurus commented on #1896
@CodeMan99 yes, that would be lovely

[2015-06-11 23:51] #1618 closed

[2015-06-12 01:11] sefk commented on #1896
+1 from an open-source contributor!!

On Thursday, June 11, 2015, Sarah Allen <notifications@github.com> wrote:

[2015-06-12 08:06] Gendow commented on #926
+1

[2015-06-12 11:01] elia commented on #127
please! also for custom columns

[2015-06-12 14:06] mc706 opened #1959 "Hour Tracking"
Besides just having issue weight tracking. Have the ability to add a number of hours to a ticket, possibly through the git commit. This allows to see amount of manpower over time. As well as for private repos, allows for monthly billing and invoicing. It would be nice to be able to quickly pull a report of what collaborators billed for how much and when. Then easily cut an invoice from there.

[2015-06-12 16:06] jdickey commented on #1454
:+1: as well.

I'm taking a couple of days to look at tools in this general area for our startup; early leaders seem to be HuBoard and ZenDesk. HuBoard, for example, offers Gitter (and Slack) integration, a generic "outgoing webhook" integration, and a general-purpose API "coming soon". I'm disappointed that Waffle.io, despite some excellent word-of-mouth from happy users is, apart from Github int

[2015-06-12 16:51] codingmeow commented on #1433
Can you implement a feature that hides a card so it is out of view? the board can become very messy if we are not able to hide cards.

[2015-06-12 16:52] codingmeow opened #1960 "Hiding card view"
Can you implement a feature that hides a card so it is out of view? the board can become very messy if we are not able to hide cards.

[2015-06-12 19:49] samervin commented on #806
+1

[2015-06-12 20:42] #1937 closed

[2015-06-12 22:28] burtonjc commented on #846
:+1: [from intercom](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/939010662)

[2015-06-14 05:03] arthurthefourth commented on #806
+1

[2015-06-15 08:17] davidmiller commented on #1805
This would be great !

Use case:

Our team has a points budget of x points per sprint.
We're three points short towards the end of a planning meeting, and trying to pick something quick to bundle into this sprint.
Can I filter to all of the tickets with <= 3 points so that I can quickly review the (large) backlog to figure out what's top priority.

[2015-06-15 15:06] electrical commented on #1709
+1 from me. I use Milestones for version planning of features / fixes.

[2015-06-15 15:56] meiqimichelle commented on #1957
Yes! This would be great! +1

[2015-06-15 15:57] meiqimichelle commented on #1957
(also similar problem -- I might have to stop using waffle if this isn't addressed)

[2015-06-15 17:31] burtonjc commented on #806
:+1: [from intercom](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/949120797)

[2015-06-15 21:04] ashumz commented on #924
@mustmodify @kevinohara80 @OwenBrotherwood - would any of you be interested in spending ~20 minutes talking with me to discuss how we can help with the pains of planning in Waffle? We'd like to learn how you're planning today, and how we can improve it for all of our users. Your feedback would be incredibly helpful!

If interested, email ashley@waffle.io and I'll get in touch with you to set up a

[2015-06-16 07:57] cpostma-rally commented on #1592
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/949063343)

[2015-06-16 07:58] cpostma-rally commented on #806
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/949063343)

[2015-06-16 07:59] cpostma-rally commented on #1454
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/949063343)

[2015-06-16 09:36] mohierf commented on #1749
Really +1 !

[2015-06-16 10:11] vi4m opened #1961 "Progress notify on gitter channel"
It would be fantastic to have a feature, to post on gitter channel some progressbar with current milestone progress. As a developer, i would like to avoid answering every time what's progress of the milestone

So, as I user on gitter channel i will see something like this:

[code]

every time i resolve issue.

[2015-06-16 14:07] kennethlynne commented on #846
+1

[2015-06-16 14:46] andyherzig opened #1962 "Clone column settings to new projects"

[2015-06-16 16:35] tobalsgithub commented on #1958
+1

[2015-06-16 21:59] ashumz opened #1963 "ability to 'dismiss' webhook warning on a per user basis"
we've already heard a few cases where this makes sense:

- the admin is on vacation and I want to get rid of it until then
- adding a board outside of the org that you want visibility into (but don't have easy access to contacting an admin or even know who the admin is)
- adding a source for a board that you are a collaborator on but don't have admin access to (happens mostly with non-org repos)
-

[2015-06-17 09:01] kefirchik commented on #926
+1

[2015-06-17 10:31] cpostma-rally commented on #806
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/953962757)

[2015-06-17 10:54] AlicanC commented on #1905
:+1:

This is driving me crazy:
![](https://www.evernote.com/shard/s606/sh/3d66bc9b-1e43-43ee-92d2-a5b8ac1691c4/80da1cd0d7e90704/res/1aecc653-a452-4abe-be1a-a3d65f3c78fe/skitch.png)

[2015-06-17 13:36] trapridge commented on #1045
+1

[2015-06-17 13:36] trapridge commented on #1799
+1

[2015-06-17 15:39] ashumz opened #1964 "when session expires or user logs out in one browser (waffleio/waffle.io-app#969), prompt them to log back in to GitHub"
![session-expired2](https://cloud.githubusercontent.com/assets/100216/8211699/2ded0d3e-14d5-11e5-8f26-b25d1fa20c29.png)

[2015-06-17 15:55] #1964 closed

[2015-06-17 15:57] ashumz commented on #1433
Hi @codingmeow,

Are you using filtered views for your board? This might help reduce the noise if you have specific assignees you want to filter by, or labels you want to see (or not see.) Can you explain a bit more about your use case so we can consider how to solve your problem further?

Thanks! :)

Ashley

[2015-06-18 05:38] shacharz commented on #1883
+1
This is especially true when milestones are cross repos, having to open them in each repo in github is even more cumbersome. Adding a milestone should give you the option to either select a repo to add the milestone to, or with multi-repo boards select all of them.

[2015-06-18 07:06] Ndpnt commented on #926
+1

[2015-06-18 09:30] wjblair235 commented on #1466
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/conversation/955922982)

[2015-06-18 09:33] wjblair235 commented on #926
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/conversation/949747447)

[2015-06-18 11:28] SimonCropp commented on #616
please add this feature

[2015-06-18 18:50] mrmechko commented on #1758
+1

[2015-06-18 18:50] mrmechko commented on #1273
+1

[2015-06-18 21:05] yadah commented on #1786
+1

[2015-06-19 00:20] kelseyq commented on #1015
I'd like a keyboard shortcut to add a (non-board) tag

[2015-06-19 07:43] MFDW commented on #1307
+1

[2015-06-19 15:39] lolyasmin opened #1965 "Provide Horizontal Swimlanes"
Give the ability to allow horizontal lanes, so issues can be filtered by milestone and/or label horizontally on the board. This would allow for multiple projects to be organized on the same board to move across vertically swim lanes, but categorized by project type horizontally.

[2015-06-20 14:14] Anahkiasen commented on #806
:+1:

[2015-06-21 16:51] nikklassen commented on #1294
:+1:

[2015-06-22 09:41] cpostma-rally commented on #806
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/964470086)

[2015-06-22 10:09] edhell commented on #1955
+1 I would love to have it in waffle :)

[2015-06-22 11:57] bweston92 commented on #926
+1

[2015-06-22 14:02] marydavis opened #1966 "requires 2 clicks to open select dropdowns if click on caret"
might have to do with the 'dropdown-toggle' class - works fine if click elsewhere on the select

[2015-06-22 16:30] mpgerlek opened #1967 "Clicking on milestone and label tags"
Suggestion:

Clicking on a milestone should bring up the "edit milestones" dialog (as a shortcut for having to bring up the full "edit issue" dialog).

Clicking on a label should behave similarly.

(Note that there is a precedent for this: setting the "+" in the top bar of each issue in the main swimlane display is a shortcut to setting the size.)

[2015-06-22 17:07] mpgerlek opened #1968 "Repo name truncated"
The GH repo name in the top bar of the issue display is truncated too much -- this could be better when using a long repo name and wide columns.

See attached screenshot.

[2015-06-22 17:08] mpgerlek commented on #1968
![image](https://cloud.githubusercontent.com/assets/742382/8287747/c51156d0-18df-11e5-8ba5-1536dbbb0031.png)

[2015-06-22 17:09] mpgerlek commented on #1968
![image](https://cloud.githubusercontent.com/assets/742382/8287766/f7c2b010-18df-11e5-98fc-85cbcbf9bcfd.png)

[2015-06-22 17:11] mpgerlek commented on #1968
![image](https://cloud.githubusercontent.com/assets/742382/8287790/20a2e216-18e0-11e5-98fb-28776edf4e4d.png)

[2015-06-22 17:52] burtonjc commented on #1968
Waffle does support assigning "display names" to your repos and that would help this. Just go into your project settings > sources (https://waffle.io/[owner]/[repo]/settings/sources) and click the pencil icon next to the repo name to add a display name for the repo. Then, instead of seeing the full repo name in the card header, you will just see the display name. Hope this helps!

[2015-06-22 20:03] mpgerlek commented on #1968
Ah, that's perfect solution - thank you!

[2015-06-22 20:03] #1968 closed

[2015-06-23 05:06] notionparallax commented on #844
In the meantime, we made this dirty hack: https://github.com/notionparallax/Waffle-printer

[2015-06-23 05:26] mscheffer opened #1969 "Allow each user to put column in their own order, or at least to hide some columns"

[2015-06-23 08:00] cpostma-rally commented on #806
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/965443468)

[2015-06-23 08:00] cpostma-rally commented on #1454
{+1} (https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/965443468)

[2015-06-23 08:09] cpostma-rally opened #1970 "Ability to change card title, when in detail view"
User would like to be able to change the title of the card while in detail view. Currently this is only possible from the main screen
[from intercom](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/964002195)

[2015-06-23 09:42] cpostma-rally opened #1971 "have the browser window title contain waffle"
It'd be handy if the title for the window wasn't just groupname/repo-name because it conflicts with how GitHub names the windows. Could you add something like " - waffle" perhaps?
[from intercom](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/963999750)

[2015-06-23 16:01] treystout commented on #1753
+1 on S/M/L (or just let me define custom tags for sizes)

[2015-06-23 17:19] marydavis opened #1972 "color picker for adding new labels color"
simple picker of possibly 8 colors but also allow any hex code

[2015-06-23 23:13] marydavis opened #1973 "ask to log in with private permissions when click on private project from home page (see also 1328)"

[2015-06-24 01:33] jacobmiller opened #1974 "Student Non-Profit Discount"
The FAQ section has a heading for an impact discount but no information under it. Is there a student discount program in place?

[2015-06-24 09:02] autra opened #1975 "Sometimes, when adding comments in Waffle, 2 identical comments are created."
I unfortunately don't have any clear reproducing steps. It usually happens with long comments: when I click on comment, it adds 2 comments instead of one (they also appear in the waffle card detail).

That might not be a waffle bug though

[2015-06-24 11:20] CyrilW3C2I commented on #846
+1 :-)

[2015-06-24 12:33] pascalandy commented on #926
+1

[2015-06-24 15:33] ginfuru commented on #926
+1

[2015-06-24 16:36] jwardCSC commented on #1392
+1

[2015-06-24 18:15] Tectract opened #1976 "Ability to have "current sprint" boards in addition to github issues boards for each repo"

[2015-06-25 17:22] ashumz commented on #1974
Hi @jacobmiller - yes, we do offer free use of Waffle for students. Just send us a message using the question mark icon in the app (located on the sidebar) requesting the free student plan.

Thanks!

Ashley

[2015-06-25 17:22] #1974 closed

[2015-06-25 17:39] ashumz commented on #1957
@ultrasaurus  @shawnbot @meiqimichelle - unfortunately this is not something we can control at this time, since GitHub's OAuth scope for public and private permissions both include  all of your personal and organization repositories.

One option: you can have the orgs you are a part of enable third party application restrictions, which would make it so an admin of the org had to approve Waffle pri

[2015-06-26 10:43] luckychild305 commented on #806
+1

[2015-06-26 11:08] michielibiza opened #1977 "show unread comments badge on cards"
I would like to see on the board which issues have unread comments and mentions

[2015-06-26 13:51] g3rd commented on #1976
+1

[2015-06-26 13:51] g3rd commented on #1969
+1

[2015-06-26 13:52] g3rd commented on #1946
+1

[2015-06-26 17:00] ehausen commented on #1958
+1 absolutely!
sometimes it can be hard to remember that for example "John" is "codertoyboy69" on github...

[2015-06-26 17:07] ehausen commented on #1936
Yeah +1

Or maybe at least have a "compact" view mode. Now it doestn't take too many cards to fill the whole column and then the ones at the bottom might be forgotten more easily etc..

The main problem is: How to fit more information ? Maybe the cards could be a little more compact. And it should be thought over what things need their own line, because that takes up vertical space..

[2015-06-26 18:10] ashumz commented on #1977
Hi @michielibiza,

Thanks for the request! Is it important for you to see issues unread by you, or unread by any team member?  Can you elaborate on how often you would use this feature and how it would help you and/or your team?

Thanks! :)

Ashley

[2015-06-26 18:11] ashumz commented on #1015
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/ashley@waffle.io/conversations/970049843)

"I would love some more keyboard shortcuts, like Trello.
Specifically I would love to be able to comment on, add labels to or assign people to issues without using the mouse."

[2015-06-26 18:35] ashumz commented on #1906
Hi @jodastephen,

I wanted to let you know that adding the issue number first, with a dash afterwards, will work: 133-feature/notifications

Would this work for you?

Best,

Ashley

[2015-06-26 18:36] #1906 closed

[2015-06-26 18:40] ashumz commented on #1686
Hi all,

One additional workaround for you all (please let us know if it helps!):

Adding the issue number at the beginning of the branch, followed by a dash and the git flow convention, will work: (eg: 133-feature/notifications would move issue 133 for the same repository in which the branch is created and pushed into "In Progress")

Ashley

[2015-06-26 21:06] ashumz opened #1978 "add the intercom automessages as tips to the dashboard for quick reference"
love this request [from a user](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/ashley@waffle.io/conversations/957650527)

"you guys sent me some little hints and stuff that were super handy and helpful and i wanted to refer back to it, finding stuff in the help docs is a bit cumbersome, it'd be nice to have a cheat sheet like on the main page with the list of boards

[2015-06-26 22:06] ehausen commented on #1720
+1
Absolutely! as @dankohn stated this the one piece of data that is not stored on Github and can be a dealbraker. The columns labels can be defined. Why not do the same for size? I think this app should follow the principle of always storing everything in Github also, so that other people joining in can just follow and work on github if they liked to

[2015-06-26 22:38] ehausen commented on #1256
Could not replicate.
The issue might show the old title for awhile but will update.

Can you still replicate this?
Do you have to be really fast? or?

[2015-06-26 22:47] kelseyq commented on #958
+1! I end up having to move cards to an intermediate column to get them all the way to the right and it shows up confusingly in the issue history :(

[2015-06-27 14:07] ehausen commented on #1161
+1

Blossom does this apparently, for example:
"Tried to fix this, but there is problem with alpha module, waiting for it  [blocked]"

[2015-06-27 14:37] ehausen opened #1979 "Support issue referencing from commit messages like Github"
With Github you can reference an issue from commit message
"This is a partial solution to #123"

Then in Github in the issue #123 you can see:

ehausen referenced this issue from a commit 15 minutes ago
 @ehausen "This is a partial solution to #123"

But it doesn't show up in Waffle :/

[2015-06-27 15:01] ehausen opened #1980 "Save card order in a markdown comment"
Huboard uses comments to embed metadata so that everything is  available in GitHub like so:

Maybe waffle can do something similar, although I'm opposed to having "custom states" tags are safer and can be edited on github

[2015-06-28 10:29] ehausen commented on #1957
Github have added more fine grained permissions
https://developer.github.com/changes/2015-06-24-api-enhancements-for-working-with-organization-permissions/

[2015-06-28 10:31] ehausen commented on #1957
A workaround would be to create a new github account  that only would have permissions to a certain repository

[2015-06-28 18:41] ehausen opened #1981 "Changed title not updated on the opened card"
- Change issue title on Github
- Go to Waffle and find the same issue (it still has the old title)
- Open the issue card, the issue title on the mini card on the board will update
- Observe how the issue title on the opened card does not update

[2015-06-28 18:42] ehausen opened #1982 "Title change on Github is not synched automatically"
When changing the issue title on Github, is it not updated on Waffle before that issue card is opened

[2015-06-28 19:48] ehausen opened #1983 "Github sync may be lost without notifying"
- I had waffle open in chrome
- Closed my laptop -> sleep
- Opened again 30 min later
- Waffle didn't sync changes made in Github any more. I had to reload the waffle board page

[2015-06-28 19:51] ehausen opened #1984 "There is no notification when creating a new issue on Github"
There is no notification at the top of screen when creating a new issue on Github, like there is when commenting for example. The card just suddenly appears

[2015-06-28 21:02] ehausen commented on #1982
The title seems to update, if you also do something else on Github, like add label, assignee, or comment. But if you only change the title on Github you have to open the card for the title to update on Huboard

[2015-06-29 06:12] #1636 closed

[2015-06-29 11:21] jodastephen commented on #1686
For us, it is important to see all branches in the same "group" (eg. "feature") together, so this workaround does not help.

[2015-06-29 11:50] erichexter commented on #1686
+1

On Monday, June 29, 2015, Stephen Colebourne <notifications@github.com>
wrote:

--
Eric Hexter

blog | http://Hex.LosTechies.com
info | http://www.linkedin.com/in/erichexter

[2015-06-29 16:42] MerlinBB commented on #1979
+1 for this, we use this a lot in our workflow.

Especially useful if the comment can link to the commit for easy viewing.

[2015-06-29 18:25] ashumz opened #1985 "autocreate project from the + button on the dashboard"
we've received feedback from several users that they expect the project to automatically create when taking the action from the dashboard.
- [x] When  a user deliberately adds a board from the dashboard, we should create the project automatically
- [ ] Continue to show banner when just navigating to boards that don't have projects created yet.

[2015-06-29 21:44] ehausen commented on #317
+1

[2015-06-29 22:25] burtonjc opened #1986 "Milestone with short titles get laid out incorrectly in the detail modal sidebar"
As far as I can tell, 3 or fewer characters in the name will cause this:

![screen shot 2015-06-29 at 4 24 49 pm](https://cloud.githubusercontent.com/assets/443084/8419989/872982a6-1e7b-11e5-8d52-9b3ba651a1f0.png)

[2015-06-30 00:19] prassee commented on #926
+1

[2015-06-30 12:16] cpostma-rally commented on #1554
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/981654029)

[2015-06-30 12:21] mbulkeley commented on #616
+1

[2015-06-30 12:46] ashumz opened #1987 "brainstorm different ways we can notify users to create projects"
Currently users are able to create issues prior to clicking "Create Project." This causes a confusing experience because it appears like Waffle has created the project, but they actually still need to hit "Create Project" in the blue banner.

2 options:

- [x] Move banner to top of page so it is more obvious
- [ ] Grey out Add Issue button until project is created

Ideal solution involves doing bo

[2015-06-30 15:24] ashumz opened #1988 "make font out of Waffle Takeout logo"

[2015-06-30 17:08] nilnullzip commented on #1297
+1.

Love waffle. Just right. Burndown is the one feature that I really miss.

[2015-06-30 20:01] marydavis opened #1989 "make white waffle takeout png until font can be done"

[2015-06-30 20:02] marydavis commented on #1989
![waffle-takeout-white](https://cloud.githubusercontent.com/assets/176437/8440617/5ad07d74-1f41-11e5-9769-53954e05e973.png)

[2015-07-01 06:32] Gateway85 opened #1990 "Feature Request: See how long issues are open or on a board"
Goal is to keep issues flowing through the Kanban board _fast_, but we cannot actually see very well how long issues are open - how long they are already in the same board etc. pp.

Would love to see age of an item and how long it is already on the same board (if it keeps on moving back and forth between boards, the times should be added up - not reset).

[2015-07-01 09:42] adamralph opened #1991 "Multiple boards per repo"
This is somewhat related to https://github.com/waffleio/waffle.io/issues/990 but perhaps a simpler version of it, or at best a subset.

Generally, for a given repo X, we would like to define boards A, B and C, where the issues on A are all those with label F, the issues on B are all those with label G and the issues on C are those with neither label F or G. Each board should have an independent co

[2015-07-01 11:01] mbulkeley commented on #1537
+1

[2015-07-01 12:42] cpostma-rally commented on #1392
[+1}(https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/985193574)

[2015-07-01 12:59] prologic commented on #1392
:+1:

[2015-07-01 13:07] mattfletcher commented on #1872
#846

[2015-07-01 14:16] RyNathan opened #1992 "Add user notification preferences"
Allow user to select level of notifications:
- All
- Visible items only
- Assigned to me only
- None

[2015-07-01 15:38] mattfletcher commented on #846
Can anyone suggest when this feature might make it in? My team is desperate for it!

[2015-07-01 15:41] tim-moravec commented on #846
+1 ^

[2015-07-02 03:50] irbull commented on #1733
With this item closed, does that mean that there is API access to waffle.io now? Are there links / pointers for how we can use this API?

[2015-07-02 09:25] cpostma-rally commented on #1651
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/970757780)

[2015-07-02 11:50] ehausen commented on #925
+1

[2015-07-02 11:53] ehausen commented on #846
+1

[2015-07-02 12:47] ehausen opened #1993 "Display the Github issue activity not just comments"
Github displays issue activity between comments. It should be the same in waffle:

For example Github shows if someone referenced the current issue from another issue, waffle does not.

[2015-07-02 15:08] #1989 closed

[2015-07-02 15:28] jroes opened #1994 "Pan around the screen by clicking in space between cards and dragging"
See Trello for how this experience works. It's nice when you can't scroll horizontally with your mouse.

[2015-07-02 15:57] kwiens commented on #1733
Good questions! I'm interested as well.

[2015-07-03 12:16] cpostma-rally commented on #1876
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/984659533)

[2015-07-03 16:04] Freundschaft commented on #926
+1

[2015-07-03 22:20] aaronwinter opened #1995 "Enable users to create milestones + color panel for milestones"
It is not possible to create a new milestone with the current interface, the user (me) has to log back on github to create it.

Also, it would be nice to have the option to color milestones labels. Preferably with a different color panel than the "regular" labels.

[2015-07-03 22:22] aaronwinter opened #1996 "Create dependencies between issues"
It would be great to enable users to link different issues together. For example if issue A needs issue B, I would like to see that dependency chain.

[2015-07-04 09:12] tylerwgoza commented on #1996
+1

[2015-07-04 09:13] tylerwgoza commented on #1993
+1

[2015-07-04 09:14] tylerwgoza commented on #1990
+1

[2015-07-04 09:25] tylerwgoza commented on #1826
+1
Even if we don't get a calender view for now. Having due dates is something that is missing from github issues (imho) and this would make it possible to completely replace something like trello. Although a complete overview of all due dates from each project would also be nice (gantt charts?), one step at a time.

[2015-07-04 09:29] tylerwgoza commented on #803
+1

[2015-07-04 09:47] tylerwgoza commented on #1826
I did not think to also mention that this could be tracked within the confines of normal github-flow using a hashtag in the comments, eg. #due: 2015-08-01 and you would know when the feature is due (in this case August 1, 2015) This would make it easier to see when someone has overloaded their team (we have 15 issues due on the same date and only gave the team 2 days to do them). I am aware that f

[2015-07-05 14:33] ehausen commented on #1996
Github already has reference functionality.

I think waffle should support the existing functionality fully and not complicate things too much. If waffle starts implement its own system then what is the point to even connect to github issues?

For more complicated issue management there is already very robust products, like Redmine or Jira.

[2015-07-05 18:53] aaronwinter commented on #1996
It would be nice to integrate Github references in Waffle's UI + dependency
links would let me "hide" issues that have dependencies still unfulfilled.

I am not even using Waffle to manage a midsize project but my board is
already messy, I love this product and think there is a lot of potential in
it but this feature is crucial IMHO.

On Sun, Jul 5, 2015 at 10:33 AM, Erik Hausen <notifications@git

[2015-07-06 08:11] ehausen commented on #1957
https://github.com/blog/2020-improved-organization-permissions

[2015-07-06 10:53] cpostma-rally commented on #1454
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/993243366)

[2015-07-06 13:38] cpostma-rally commented on #1392
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/996553525)

[2015-07-06 15:00] homeyer commented on #1987
instead, let's disable the add issue button if you can create the project (you won't see the banner if you can't), with a tooltip that tells you to create the project.

[2015-07-06 15:00] homeyer commented on #1949
this might be working, but need to look into it to make sure we're covered.

[2015-07-06 15:11] burtonjc opened #1997 "Source dropdowns should pickup newly added sources without a page refresh"

[2015-07-06 15:48] relicmelex commented on #1651
It would be nice if we could pair in waffle though. Also your suggestion can also ruin the integrity of who did what and that's part of the point of version control. Assigning a ticket to two people also may not necessarily mean that both have to work on it, and it could be quite atrocious if you're part of multiple teams to be committing as different users and things all the time. However some so

[2015-07-06 15:53] homeyer commented on #1987
action:
 - [ ] design potential options, get agreement with our team, and then show a few users

[2015-07-06 15:56] ashumz commented on #1987
see also #1985

[2015-07-06 15:58] burtonjc commented on #1733
@kwiens, @irbull Waffle now has an API, but it is not publicly available yet. Namely, we need to build the front end pages for managing your OAuth client applications and such. We will make sure and announce when everything is ready for prime time!

[2015-07-06 16:47] kwiens commented on #1733
Awesome! We're on the edge of our seats.

[2015-07-06 17:59] JaKXz commented on #1907
Closing as a duplicate of #1622.

[2015-07-06 17:59] #1907 closed

[2015-07-07 12:16] wjblair235 opened #1998 "Be able to tie a label to a column that closes issues - connects to #616"
Be able to tie a label to a column that closes issues or displays closed issues

[2015-07-07 13:03] cpostma-rally opened #1999 "comments to ticket lost"
i was
1) adding a lengthy comment with some important references to an issue
when i had to
2) switch to another tab for some research.
After i copied a link there and
3) switched back to waffle.io, the search field was focussed and
received my keyboard input.
=> With that, the currently open issue was filtered out and the lengthy
comment just got destroyed :(

Expected result:
A) Don't ever close

[2015-07-07 15:12] bbirch commented on #806
+1

[2015-07-07 15:27] bbirch commented on #494
:+1:

[2015-07-07 21:40] jackfirth opened #2000 "Be able to track work-in-progress PRs separately"
I would like it if there was a toggle for columns that caused PRs that are _not_ works in progress to move there. This could be detected by looking for "wip"/"WIP"/"work in progress" in commit messages and/or through the Status API for things like continuous integration services.

This would allow me to create a Needs Review column to which PRs and their associated issues automatically moved to fr

[2015-07-07 22:08] homeyer commented on #1307
A few more details - if you drag cards rapidly from one column to another, the column API endpoint and realtime updates can't stay in sync, so the whole column can get out of whack.

[2015-07-07 22:25] Karl-B opened #2001 "Add the concept of Stories and Tasks"
We use SCRUM at work but only use Waffle for bug tracking as it doesn't have the concept of Stories and tasks. If it had this feature then it would be possible to use it for SCRUM. Using comments within the Story doesn't work. You need to be able to group tasks to Stories, leave the story in the Sprint column and migrate the tasks individually from left to right.

[2015-07-08 11:59] sethpollack opened #2002 "Add Badge to shields.io"
http://shields.io/

[2015-07-08 12:50] stepthom commented on #616
+1

[2015-07-08 15:47] ashumz opened #2003 "Waffle "Getting Started Guide""
requested by Geri -

"It would be awesome if you would write a blog post on your involvement with City Camp. Talk about how you worked with them, especially if you helped them work in an Agile way. How Rally supports you with 1% time off and a Community Grant. What the event was like, what it accomplishes. And of course, photos."

[2015-07-08 16:50] syphar commented on #925
+1

[2015-07-08 16:59] dpedoneze commented on #1297
+1. this would be awesome! Also if we could filter by milestones too :)

[2015-07-08 19:04] vduke opened #2004 "Testing"
this is a test

[2015-07-08 19:08] homeyer commented on #2004
Hey @vduke! closing your test.

[2015-07-08 19:08] #2004 closed

[2015-07-08 19:17] danquirk commented on #1722
The problem is the behavior is inconsistent and waffle loads slowly enough and without remembering my place that it's very inconvenient to re-use the current tab.

When looking at a card for an issue:
- clicking the issue header takes me to the issue in a new tab
- clicking the author of the issue takes me to that page without a new tab
- clicking another issue referenced in the issue card takes m

[2015-07-09 09:56] fjaguero commented on #1733
Hi, at Mozilla Hispano we are waiting for that API. It will let us create weeklyy email notifications, column size restrictions alerts, etc. Thanks!

[2015-07-09 13:21] ehausen commented on #1996
I think the Github philosophy here would be to use milestones. Just divide the tasks to different milestones, maybe with deadline and then filter by milestone.

[2015-07-09 13:23] ehausen commented on #1996
But I see your point. I just think the github issues should still be usable also when using waffle

[2015-07-09 15:11] sebble commented on #926
This would be really useful +1.

[2015-07-09 16:15] lizconlan commented on #1331
not sure whether this is the same thing but I get a similar problem - Safari, 11" MacBook Air - when I zoom out far enough to see all the columns at once, the card title appears (roughly) half height, cutting off the issue number

[2015-07-09 17:14] maephillips opened #2005 "livin' it up"

[2015-07-09 17:15] homeyer commented on #2005
Heck yeah! Let us know if we can help you live it up more.

[2015-07-09 17:15] #2005 closed

[2015-07-09 19:17] ehausen commented on #1996
overv.io has a functionality to add time estimate. It just creates a comment: Time estimate: XX and the application reads it.

Maybe there could be something similar:
**Parent issue**
* Parent issue field which would output a comment: "Parent issue: #12345" then it would be fully readable on Github

[2015-07-09 19:51] jtgrenz commented on #616
We could also use this. We have a usecase where we review submissions and need two close columns to apply labels. Our last step for closing is to move a card into "Launched" or "Rejected" if the review failed and we wish to scrap it. Right now we can move to a rejected column and add a tag but keep the issue open, or we can close it and add no label.  Throws off our stats unless we manually add a

[2015-07-09 19:52] homeyer opened #2006 "figure out how to toggle on new columns for new users for a week"
turn toggle on - new accounts created after 7/20 will get the new UI

[2015-07-10 11:31] mbulkeley commented on #926
+1

[2015-07-10 15:15] mstratman opened #2007 "Velocity graph"
Automatic graphs of velocity like Pivotal

[2015-07-11 15:51] thedrow commented on #1415
I have a problem with this feature too. I created a flow where issues are categorized according to their columns (Bugs, Feature requests etc.) so that the developers can see what's going on more easily. However I don't want to remove the bug/feature label once I move it to another column.

[2015-07-11 15:56] thedrow opened #2008 "Move issue to column according to build status"
Having a column that is called "ready for merge/review" (or something else) that pull requests are automatically moved to when the build is sucessful and a column that moves issues back to in progress when the build fails sounds like a good idea.
Any thoughts on this feature request?

[2015-07-11 15:58] thedrow opened #2009 "Cannot scroll over the board when the "needs to enable webhooks" popover is displayed"
I have a really long board and I expected to have scrolling enabled but it seems that either it isn't at all or that the popover is hiding it.
See https://waffle.io/celery/celery

[2015-07-11 21:45] jackfirth commented on #2008
+1, I opened a similar one (#2000)

[2015-07-11 21:46] jackfirth commented on #2001
If you make a Sprint column and use milestones for sprints, you can get a very similar workflow

[2015-07-13 07:35] thedrow commented on #1852
I know I'm probably a bit late but this design doesn't take multiple workflows into consideration.
I created a workflow for bug reports and for features. Each workflow requires you to drag the issue through different columns.
Due to the fact that I can't create multiple backlogs with labels on them I created different columns. I think that allowing more than one backlog is a good idea but you shou

[2015-07-13 09:42] Illizian opened #2010 "Issue activity feed."
Include a log of actions within the Card. (e.g. When a PR is opened and a card is moved to in progress log a link to the Pull Request)

[2015-07-13 12:48] Sruliktest commented on #846
+1

[2015-07-13 18:49] homeyer commented on #2006
@marydavis should we put a "feedback" icon somewhere on the page with a tooltip that mentions that it's new, and then wire that to an intercom message?

[2015-07-14 03:49] p404 commented on #494
:+1:

[2015-07-14 08:43] soniama opened #2011 "Sonia testing"
bla bla

[2015-07-14 15:24] #569 closed

[2015-07-14 15:24] #626 closed

[2015-07-14 15:24] #780 closed

[2015-07-14 15:24] #946 closed

[2015-07-14 15:24] #1776 closed

[2015-07-14 15:24] #1852 closed

[2015-07-14 15:55] mstratman commented on #1733
Has this been delivered? If so, where and how can I get access? Thanks

[2015-07-14 16:52] homeyer opened #2012 "columns show incorrect counts when PRs are attached to issues"
[intercom](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/1005955949)

[2015-07-14 16:53] homeyer commented on #2012
Broken on initial load, fixed after filtering and clearing the filter.

[2015-07-14 17:18] burtonjc opened #2013 "Experiment with node 0.12's new performance tools to improve performance"
Timebox: 3 days
Thoughts:
  - iojs?
  - upgrade to mongodb 3?
  - upgrade to mongoose 4? https://www.compose.io/articles/mongoose-4-and-replica-sets/
  - use loader.io with a prod db clone to test performance
  - upgrade compose's newrelic plugin https://www.compose.io/articles/compose-launches-new-relic-support/

[2015-07-14 17:22] imwithsam opened #2014 "Handle renamed GitHub repos"
I have a project "traffic-spy-skeleton" which I cannot delete. It was renamed to a different name, and we already have a new project for it. Now, waffle.io does not know how to delete the old project. I tried creating the repository on GitHub again, but it still won't delete.

[2015-07-14 17:25] marydavis commented on #2011
Hi @soniama, I'm closing your test issue. Let us know if you have any questions along the way!

[2015-07-14 17:25] #2011 closed

[2015-07-14 18:35] PLaRoche commented on #1995
+1 I would add allowing the user to create a milestone across all repos in the waffle board would be a huge improvement over github issues.  Right now we have 5 repos on our own board, which is awesome.  But if we want to use milestones (yes) we need to go through each repo and make the same milestone for each (bad).

Would be nice to simple have a "create milestone" button, then lets you choose w

[2015-07-14 19:51] homeyer opened #2015 "redacted"

[2015-07-14 19:52] homeyer opened #2016 "redacted"

[2015-07-14 19:56] #2016 closed

[2015-07-14 19:56] #2015 closed

[2015-07-14 21:39] mariamzmalik opened #2017 "Create area for admin to add contact information for organizations"
Problem: It its difficult for Admin to know who to contact for each organization with various questions.

Solution: Create a means to capture the contact information of key clients when creating or editing an organization.

- [ ] Add a section in the Create / edit organization page for admin to type in client names, titles, emails, and numbers. Each column is for one person and there are a maximum

[2015-07-14 21:41] #2017 closed

[2015-07-14 22:05] ashumz opened #2018 "Waffle "Getting Started"  / "how to" videos and/or webcasts for new users and existing users"
Potential topics:
- Getting started with Waffle
- Waffle + GitHub Flow = <3
- Automatic work tracking/Waffle Power Users
- How to implement a Lightweight Agile Process with Waffle

Open to other suggestions and/or hearing what others may be interested in.

[2015-07-15 06:57] rajivm commented on #1991
+1

[2015-07-15 08:51] Dashue commented on #1991
+1

[2015-07-15 13:13] mydigitalself commented on #1879
+100 even just a two week makes this feature fail with a capital all of the letters... please fix

[2015-07-15 21:08] jbencook commented on #909
+1

[2015-07-15 22:54] awilkie commented on #846
1++ :)

[2015-07-16 20:36] homeyer opened #2019 "badge should show count of issues across all repos - connects to #3288"
the badge only works for the primary repo, does not count cards across repos on multirepo boards.

[2015-07-16 20:51] eholum opened #2020 "Export and import story weights?"
It would be very cool if we could pull in weights from existing projects, say by putting html tags into comments containing the given weight to a story from our other sprint board.

[2015-07-17 09:40] bfirsh commented on #1874
:+1: New issues at the bottom of the backlog please.

[2015-07-17 13:01] egeerardyn commented on #962
:+1: I would very much like this.

There are currently some (partial) alternatives using [IFTTT](https://ifttt.com/recipes/search?q=GitHub+todoist&ac=false). I, e.g., have a recipe that adds a todoist task whenever I'm assigned an issue on GitHub, but apparently there are some recipes that convert Todoist tasks to issue reports (and hence cards).

[2015-07-17 15:15] skotzko commented on #2019
+1

[2015-07-17 15:16] skotzko commented on #2012
+1

[2015-07-17 15:16] skotzko commented on #925
+1

[2015-07-17 15:17] skotzko commented on #1993
+1

[2015-07-17 15:19] skotzko commented on #1961
+1

[2015-07-17 15:21] skotzko commented on #1950
This would be really cool. One other idea that I recently heard would be to allow creating email follow up sequences to automatically check in on issues, depending on their priority (assume prio dictated by label).

e.g. a `critical` issue should have daily check-ins, a `nice to have` issue could be every few days, etc. Something we've noticed on the [Akka.NET](http://getakka.net) project as the c

[2015-07-17 15:22] skotzko commented on #1935
+1

This is something we've run into a lot lately on the [Akka.NET](http://getakka.net) OSS project. Would be awesome to be able to assign things to contribs that don't have repo permissions.

[2015-07-17 15:24] skotzko commented on #1932
Saw something similar today while setting up a board. We had 2 issues that were closed on GitHub about 2 months ago, but still had their `in progress` labels attached. Even though they were long-closed, they were still sitting in the `In Progress` column. Shouldn't have been seen at all.

[2015-07-17 17:21] utgarda commented on #806
+1

[2015-07-18 03:26] schaazzz commented on #926
+1

[2015-07-18 10:53] JWGmeligMeyling commented on #2010
:+1:
(The title `git log` may be confused with the actual `git log` command output, which gives commit info. I think it should be something like *issue activity feed*.

[2015-07-18 22:30] barriosnahuel commented on #127
+1

[2015-07-18 22:35] barriosnahuel commented on #1957
+1

[2015-07-19 23:37] jeffbrown commented on #1798
Some data points which may help.  Both https://github.com/grails/grails-core/issues/667 and https://github.com/grails/grails-core/issues/674 are presently marked closed and are appearing in the backlog at https://waffle.io/grails/grails-core.  Maybe something to do with tags that are on those issues?

[2015-07-20 09:22] Illizian commented on #2010
:+1: agreed - I will edit the title!

[2015-07-20 10:46] mbulkeley commented on #926
+1

[2015-07-20 13:57] Bortseb commented on #1454
+1

[2015-07-20 18:08] homeyer opened #2021 "Show failure notification if comment doesn't update."
[customer requested](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/1027600201).

[2015-07-20 21:01] theganyo opened #2022 "Unable to access board"
I'm unable to open or even open the configuration of my 2nd board.

[2015-07-20 21:27] toejough commented on #127
+1

[2015-07-20 21:57] theganyo commented on #2022
I should clarify: The main repo is gone... but I'm unable to access the board config to delete it.

[2015-07-20 21:58] jag3773 commented on #1297
+1

[2015-07-20 22:59] kwiens commented on #925
+1

[2015-07-20 22:59] kwiens commented on #312
+1

[2015-07-20 23:02] homeyer commented on #2022
Hey @theganyo, what's the name of the repo? I'll handle deleting it for you.

[2015-07-20 23:16] theganyo commented on #2022
"theganyo/swagger-node"

Thanks!

[2015-07-20 23:21] homeyer commented on #2022
done :)

[2015-07-20 23:21] #2022 closed

[2015-07-21 03:25] awilkie commented on #1196
Roadmap features: shows milestone blocks from Github (linear, sequential); imports a user created markdown file that has other streams of work (concurrent, overlapping  - see this for ideas -http://ramblings.mcpher.com/Home/excelquirks/recursionlink/roadmap-generation)

[2015-07-21 12:43] Sesselja commented on #1454
+1

[2015-07-21 15:09] #2006 closed

[2015-07-21 15:44] donatj commented on #127
:+1:

[2015-07-22 10:34] saimaz commented on #1392
+1

[2015-07-22 13:07] marcoherbst opened #2023 "Change the name of a board (esp. if it includes multiple repos)"

[2015-07-22 18:22] colbygk commented on #806
+1

[2015-07-23 01:28] ManeBit opened #2024 "CI Integration w/ Codeship"

[2015-07-23 02:12] homeyer commented on #2024
Hey @ManeBit, would you mind if we track this as part of #494?

[2015-07-23 04:12] ManeBit commented on #2024
As long as support is given for both Travis and Codeship, I have no problem with it. The more the better!

[2015-07-23 04:31] ManeBit opened #2025 "Badge snippets nowhere to be found"
As listed in the Waffle FAQ, https://github.com/waffleio/waffle.io/wiki/FAQs#github-badge-1

Badge snippets/examples are supposed to be generated and shown on the general tab within the settings screen.

[2015-07-23 16:24] marydavis commented on #2025
@ManeBit currently badges are only available for public repos, this may be the issue you are running into. We have an issue for making badges for private repos here: https://waffle.io/waffleio/waffle.io/cards/53440db224ceb40200d90faa

[2015-07-23 16:25] ashumz commented on #1874
We're currently tracking this on #359. Until we rework the way cards are ranked on Waffle boards, we can't pull this option. Once we've completed that work (#1307), we'll be able to consider doing this. Closing this out as a duplicate. Please track #359 to follow progress.

Thanks all!

Ashley

[2015-07-23 16:27] #1874 closed

[2015-07-23 17:24] ManeBit commented on #2025
Ah, that sounds like my problem. Are there plans to provide support for private repos? It's definitely a handy tool to remind teams of their waffle integration. It's also great for turning the readme.md into a sort of 'progress dashboard'

[2015-07-23 18:02] spheromak commented on #806
:100:

[2015-07-23 18:38] marydavis commented on #2025
We hope to, but it is not yet prioritized to be worked on. You can follow that issue to be notified when dev work begins on it :)

[2015-07-23 18:38] #2025 closed

[2015-07-24 08:39] alekiy commented on #926
+1

[2015-07-24 14:12] muffinresearch opened #2026 "Support (fixes [NUM], [NUM2], [NUM3])"
Currently you can't specify multiple numbers after the "fixes" flag and get waffle to associate multiple issues to that one PR.

[2015-07-24 14:15] marydavis commented on #1987
blocked: should we look into/fix the banner showing up when it shouldn't first?

[2015-07-24 14:17] muffinresearch commented on #2026
Actually this is down to github not waffle.

Ignore me!

[2015-07-24 14:17] #2026 closed

[2015-07-24 15:18] homeyer opened #2027 "show error message when API can't load cards or project, and don't show project banner if project load fails with a 5xx error"

[2015-07-24 22:58] homeyer commented on #2024
Great, I updated the title of #494 and added a few more details.

[2015-07-24 22:58] #2024 closed

[2015-07-25 11:31] subsy commented on #1297
Another vote here

[2015-07-26 00:01] park9140 commented on #1995
+1 This would be very usefule

[2015-07-26 01:17] homeyer opened #2028 "unable to copy badge code in FF39"

[2015-07-27 02:13] witoff commented on #1106
+1.  I'd be happy to pay for an on-prem waffle behind our firewall.

[2015-07-27 04:07] teasp00n commented on #314
+1

[2015-07-27 12:02] daniellawman commented on #1199
+1

[2015-07-27 13:55] marcoalbarelli commented on #314
+1

[2015-07-27 14:04] #2028 closed

[2015-07-27 15:21] ezra-g opened #2029 ""Could not save card" error"
We did a test run using Waffle.io for sprint planning on a ~6 person team and got some intermittent "Could not save card" errors. Are there any specific guidelines or expectations around how many browsers can concurrently edit cards in a Waffle board?

Potentially related factor: Our Waffle board is connected to 2 repos and during planning we connected to a third repo.

In the screenshot we also h

[2015-07-27 18:13] #1987 closed

[2015-07-27 18:28] burtonjc commented on #2013
I upgraded several dependencies and am stuck on mongoose. I think upgrading to mongoose 4 is important, but currently, [mongoose-encryption](https://github.com/joegoldbeck/mongoose-encryption) does not support mongoose 4. I creataed waffleio/waffle.io-app#1014 to handle the mongoose 4 upgrade.

I think the biggest performance/memory impact we can have is doing waffleio/waffle.io-api#38. Added that

[2015-07-27 19:25] ezra-g commented on #2029
Possibly related to https://github.com/waffleio/waffle.io/issues/1307.

[2015-07-28 03:20] zhouqianli commented on #926
+1

[2015-07-28 17:14] #2027 closed

[2015-07-28 18:11] #2013 closed

[2015-07-28 22:09] JonathanPorta commented on #806
+1

[2015-07-29 07:21] jnoleau commented on #1993
+1

[2015-07-29 08:05] Swizz540 commented on #2014
Same thing for me.

When Github repositories are moved or deleted, Waffle keeps tracking on them.
But boards are accessible and not deletable.

The better solution must be to delete board when repository raise a `404`.

When repos are renamed, Github api raise a `304` with the new repository url as parameter.

If you use the `/repositories/:id` endpoint instead of the `/repos/:owner/:repo`
you wil

[2015-07-29 08:22] Swizz540 commented on #1537
I don't understand why to add a link to the repo's main page is so difficult.

Lot of users requests ask this since more than one year.
But it would take less of five minutes to be done.

*nb : I don't want to be rude. Sorry for my bad english.*

[2015-07-29 13:43] danimaribeiro opened #2030 "Create one board with more than one Repo"

[2015-07-29 15:37] homeyer commented on #1603
PR tab no longer exists.

[2015-07-29 15:37] #1603 closed

[2015-07-29 15:47] homeyer commented on #2014
Hey @imwithsam, we missed this notification the first time around. GitHub now supports redirects, so you can delete your old project (looks like you figured that out already though).

@Swizz540 - yep, until we fix that, I can delete any bad boards for you. Just reach out with the '?' icon in the app and tell us which repos you need removed.

[2015-07-29 16:22] homeyer commented on #2030
Hey @danimaribeiro, if you go to your board settings you can add additional repos to it.

[2015-07-29 16:47] danimaribeiro commented on #2030
Thanks

[2015-07-29 16:47] #2030 closed

[2015-07-29 18:10] bwarner22 opened #2031 "Sharing or bookmarking a link with a filter already in place does not work when accessed later"
I have a board and have added a filter to that board. I'd like to save that state to come back to quickly at a later and to my team member. However, sharing that url link defaults to the board without the filter.

[2015-07-29 18:48] Kmaschta commented on #1106
+1

[2015-07-29 20:27] homeyer opened #2032 "test"

[2015-07-30 11:42] gvangool commented on #941
+1

[2015-07-30 18:50] Gabriel-p commented on #902
+1

[2015-07-30 18:51] Gabriel-p commented on #1905
+1

[2015-07-30 18:51] Gabriel-p commented on #2002
+1

Possibly a dupe of #1905

[2015-07-30 21:36] dpedoneze commented on #1993
+1

[2015-07-30 21:38] fujin commented on #806
+++ :100:

[2015-07-30 21:38] dpedoneze commented on #1746
+1

the milestone is broken here

![image](https://cloud.githubusercontent.com/assets/5757502/8995812/35458228-36ea-11e5-892c-ffe40a8b6e1b.png)

[2015-07-30 21:41] timani commented on #806
+1

[2015-07-30 21:44] dpedoneze commented on #806
+1

I think the _most-used_ notification would be when we change an issue among the columns, GitHub doesn't has this kind of notification (label-change) :smile:

[2015-07-31 13:12] Kmaschta opened #2033 "Add participants to card"
Hi, can we add the participants to the card like that ?

![waffleio waffle io 1833 filter options author participating](https://cloud.githubusercontent.com/assets/1819833/9007951/8a5b0d62-3796-11e5-896c-59f049a33bf2.png)

[2015-07-31 13:17] Kmaschta commented on #2023
+1

[2015-07-31 14:30] srogovtsev commented on #1979
I'd also like to see this as a "column action", so that an issue could be auto-moved to "In progress" if:
 * it's not closed
 * it's referenced by commit

[2015-07-31 15:12] burtonjc commented on #1986
closing as duplicate of #1746

[2015-07-31 15:12] #1986 closed

[2015-07-31 15:13] burtonjc commented on #1746
This happens when your milestone has a title of 3 or less characters.

[2015-07-31 15:38] kofalt commented on #1297
The Milestone Burnup metric is [currently listed](https://waffle.io/waffleio/waffle.io/metrics) as "Coming Soon", and it was not at all clear what that meant in practical terms. Correct me if I'm wrong, but it doesn't sound like there is any development in progress.

It would be nice if that icon linked to this ticket, to be transparent about its current status.
As it was, I had to search around t

[2015-08-03 07:51] Kmaschta commented on #494
:+1:

[2015-08-03 09:48] mhl commented on #314
+1 This would be really helpful for us, as another team that works on two week sprints

[2015-08-03 15:50] doctorrustynelson commented on #218
+1

[2015-08-03 15:53] cherylyu opened #2034 "Test"
aloha

[2015-08-03 15:53] homeyer commented on #2034
Hey @cherylyu! Anything we can help with?

[2015-08-03 16:02] #2034 closed

[2015-08-03 16:17] homeyer opened #2035 "improve 404 page for the "not logged in with private scope" case"

[2015-08-03 16:34] ashumz opened #2036 "Add sign up button to public boards"
- [x] next to log in button, also have "Sign up - It's free" button for public boards
- [x] add mixpanel tracking to sign up button

[2015-08-03 16:44] homeyer commented on #2036
no login modal for now :)

[2015-08-03 16:45] marydavis commented on #2036
same action as log in button

[2015-08-03 17:15] ashumz commented on #1328
@homeyer can we move on this prior to having an account page?

- [ ] If logged in with public permissions, should only see public boards for which you are a team member on your dashboard
- [ ] Give visibility to user that they are logged in with public repo scope only with ability to click button/link to upgrade to private permissions
-[ ] Add language to the Add Board view -- after 'don't see you

[2015-08-03 17:19] homeyer commented on #1328
:+1:

[2015-08-03 17:19] ashumz commented on #1973
A better solution might be 1328 -- expose when logged in with public repos and give clear CTA to upgrade to private/all repo scope.

This will require we sort users' dashboards by public/private rather than just all projects for which they are a team member, but would ultimately be less confusing and a better experience.

For users logged in with public scope, add a line on the main dashboard that

[2015-08-03 17:29] homeyer commented on #1973
Yup I like that better

[2015-08-03 17:31] marydavis commented on #1328
yay!

[2015-08-03 21:32] #1047 closed

[2015-08-03 21:47] gsaslis commented on #926
:+1:

[2015-08-04 13:37] joesolly opened #2037 "PR connects/fixes/resolves connections only work for "#123" and not github url"

[2015-08-04 15:23] homeyer opened #2038 "job description for dev on Waffle"
https://docs.google.com/document/d/1u8C9zlrsXq0eZTjuKAYsQZolx3iRh-VKuns744E3kvE/edit

[2015-08-04 16:53] kwiens opened #2039 "Metrics: Show closed milestones"
Once you close a milestone, it's no longer available in the metrics report filter options. That doesn't make a lot of sense, because you don't usually have a lot of great data about a milestone until it's close to finished or complete.

I usually want to compare this milestone to the last two or three.

Similarly, the fixed eight week view is limiting when you want to analyze how your team is perf

[2015-08-04 22:04] dudewheresmycode commented on #1722
+1 for this.

[2015-08-04 22:09] dudewheresmycode commented on #1722
External links should open in (`_target`) new windows/tabs. This seems to be the new norm for the whole internet. (Twitter, Facebook, Gmail). Especially if it's considered a "web-app", which waffle is, at least how I use it.

The idea being that clicking a link doesn't imply the desire to quit the app. So the app shouldn't quit and send the user along, it should remain open, while directing the us

[2015-08-04 23:46] dudewheresmycode opened #2040 "Image Attachments"
Would be awesome to have the ability to include an image with a new issue or comment. Right now it's the only thing my QA team is having to still do from Github issues.

We have a QA team that only uses the issues part of Github. So I was happy when I found waffle for them. Much easier interface for them to navigate and report issues. But images are still a training challenge.

[2015-08-04 23:47] homeyer commented on #2040
Hey @dudewheresmycode, going to close this in favor of #846, would you mind moving your comment there?

[2015-08-04 23:47] #2040 closed

[2015-08-04 23:49] dudewheresmycode commented on #846
+1 (or +20 if you count our QA team)

Would be awesome to have the ability to include an image with a new issue or comment. Right now it's the only thing my QA team is having to still do from Github issues.

We have a QA team that only uses the issues part of Github. So I was happy when I found waffle for them. Much easier interface for them to navigate and report issues. But images are still a tr

[2015-08-05 01:59] dpedoneze commented on #1746
You can just update this css code @ `main.css:1364` :smile:

[code]

Cheers.

[2015-08-05 02:50] homeyer opened #2041 "choose a blog theme"

[2015-08-05 09:17] adamralph commented on #334
:+1: Having to recreate the Waffle board after renaming a GitHub repo is a real pain...

[2015-08-05 20:24] ondrae opened #2042 "One of my boards disappeared"
I have been using https://waffle.io/codeforamerica/networkplatform for about a month. It disappeared today!

I visited the waffle url and it asked me to "Create the project". Before doing that, I checked and the github repo still existed.

I use this waffle with a bunch of other repos added as sources. Several of those sources are private repos.

I noticed the other day you switched Github auth pe

[2015-08-05 20:25] ondrae commented on #2042
I'd like to give you access to my private repos again.

[2015-08-05 21:00] homeyer commented on #2042
Hey @ondrae, can you logout, go to the Waffle.io landing page, and login from there? You should be able to choose private repo scope from there.

[2015-08-05 21:28] ondrae commented on #2042
That worked. I'll rebuild my board now, thanks.

[2015-08-05 21:28] #2042 closed

[2015-08-05 21:30] homeyer commented on #2042
@ondrae, is your board still missing after logging back in?

[2015-08-05 22:32] cbobbett commented on #1928
+1.
I want to change a label assignment as easily as I can change sizing (directly from card on board).

[2015-08-06 20:19] homeyer opened #2043 "civic hackathon + Waffle"
themes for NC census hackathon: Entrepreneurship and Social Good

Goals:
- [ ] create ideas for how to have a "Waffle toolkit" for enabling teams to be more effective at a civic hackathon

[2015-08-06 20:51] jordanskole commented on #1805
:+1:

[2015-08-07 07:35] julian-weinert commented on #1687
👍🏼

[2015-08-07 17:49] Cram974 commented on #806
+1

[2015-08-07 20:33] homeyer commented on #2043
start.waffle.io: An app on top of Waffle that introduces teams in the ideation/new project phase to a new way to organize work. Once you login with Waffle, you pick a repo from GitHub (or create one), and we customize your columns and pre-create a set of cards for you to start from.

The columns: Backlog, Frame, Build, Measure, Learn

The cards:
 - "Find a problem": How to write a problem definiti

[2015-08-07 20:33] homeyer commented on #2043
"Getting Started Guide" fork for open data initiatives

[2015-08-08 19:49] jadengore commented on #127
:+1:

[2015-08-08 20:21] brucecrevensten opened #2044 "Add ability to move issues between repositories"
When using multirepo boards, sometimes issues are added to the wrong repo.  It'd be convenient if you could move the issue to another repo in the same spot you can assign labels, etc.

Moving the GH issue would be what [this tool](https://github-issue-mover.appspot.com) already does.

[2015-08-10 04:40] homeyer opened #2045 "link to GitHub from board"
[customer requested](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/1075543179)

Provide a link to the repo from the board view.

[2015-08-10 11:33] vlprans commented on #1995
+1 to what @PLaRoche said

[2015-08-10 11:34] vlprans commented on #1957
+1

[2015-08-10 15:17] ashumz opened #2047 "images for readme"
<img width="1262" alt="screen shot 2015-08-10 at 11 18 33 am" src="https://cloud.githubusercontent.com/assets/100216/9175016/6013dd5a-3f51-11e5-9286-bff3fe271aa9.png">

[2015-08-10 15:23] homeyer opened #2048 "fix Disqus for new blog"

[2015-08-10 18:42] kevinohara80 commented on #1307
@homeyer I don't mean to be a back-seat driver, but have you looked into implementing true operational transforms?

Resources....

http://operational-transformation.github.io/index.html
http://sharejs.org/

[2015-08-10 22:21] cdata commented on #1392
+1

[2015-08-10 22:44] #2048 closed

[2015-08-10 22:49] homeyer commented on #2048
Inline editing the theme style FTW.
[code]

[2015-08-11 03:27] danrschlosser commented on #1392
+1

[2015-08-11 07:03] mfarid commented on #941
+1

[2015-08-11 07:36] stefanvanwouw commented on #1686
+1

[2015-08-11 13:12] #2047 closed

[2015-08-11 13:28] ashumz commented on #2043
moved to waffleio/hackathons#2

[2015-08-11 13:28] #2043 closed

[2015-08-11 15:09] #2041 closed

[2015-08-11 16:10] ashumz commented on #1973
closing this out in favor of #1328's solution

[2015-08-11 16:10] #1973 closed

[2015-08-11 19:08] dudewheresmycode commented on #1722
@waffle-team: Do you guys collect data on how many exits/referrals have the same URL? (i.e. How many users clicked back after clicking a link to an external website from waffle?) I'd imagine it's pretty high, and would support a need for this feature.

[2015-08-11 19:42] ashumz commented on #2047
![githubwafflelove](https://cloud.githubusercontent.com/assets/100216/9208103/9f31b126-403f-11e5-88ea-9662fba0c5e1.png)

[2015-08-11 20:52] ashumz commented on #2047
<img width="1691" alt="beforeafterwaffle" src="https://cloud.githubusercontent.com/assets/100216/9210291/6598596a-4049-11e5-8036-90a37ee3c6da.png">

[2015-08-12 00:45] ashumz commented on #2047
<img width="1690" alt="beforeafterwaffle2" src="https://cloud.githubusercontent.com/assets/100216/9214305/e28c9f74-4069-11e5-8580-d67c2baf2b90.png">

[2015-08-12 01:00] ashumz commented on #2047
<img width="1690" alt="before-after-multirepo" src="https://cloud.githubusercontent.com/assets/100216/9214462/f486494e-406b-11e5-82fd-43c2493a99ab.png">

[2015-08-12 01:14] ashumz commented on #2047
<img width="1690" alt="beforeafterwafflemultirepo2" src="https://cloud.githubusercontent.com/assets/100216/9214599/e85ca152-406d-11e5-8e52-e50cd49e903c.png">

[2015-08-12 01:19] ashumz commented on #2047
<img width="1690" alt="beforeaftermultirepo3" src="https://cloud.githubusercontent.com/assets/100216/9214665/92b18154-406e-11e5-90b5-8f9a25df2f5f.png">

[2015-08-12 01:23] ashumz commented on #2047
<img width="1690" alt="beforeafterwafflemultirepo4" src="https://cloud.githubusercontent.com/assets/100216/9214723/32f2a292-406f-11e5-88a7-3c63365082a3.png">

[2015-08-12 06:08] nokout commented on #1985
:+1:

[2015-08-12 12:53] lestocq commented on #846
+1

[2015-08-12 13:24] kennethlynne commented on #846
+1

[2015-08-12 15:31] charlescurrier commented on #806
+1

[2015-08-12 15:40] #2036 closed

[2015-08-12 18:38] ndewhurst commented on #925
+1 for both @ and # seeds

[2015-08-12 18:39] homeyer commented on #2035
Right now it looks like this:
![image](https://cloud.githubusercontent.com/assets/84629/9233227/1be64f1a-40ef-11e5-9c6f-1c6747bc896a.png)

I don't think it's that bad. What do we want to improve?

[2015-08-12 19:19] burtonjc opened #2049 "GH:E provider create form still points to /api in the app"
We are not using the `$resource` method so we missed it: https://github.com/waffleio/waffle.io-app/blob/master/client/src/app/directives/settings/sources/github/new/github-enterprise-connect-form.coffee#L35

If we can use a `$resource` method, that would be fantastic.

[2015-08-12 19:56] homeyer opened #2050 "webhook error message doesn't let owner of repo create hooks if they're not an admin for the parent repo"

[2015-08-12 20:33] pnpritchard commented on #1996
+1

[2015-08-12 20:34] pnpritchard commented on #43
+1

[2015-08-12 20:35] pnpritchard commented on #803
+1

[2015-08-13 15:06] coldpour opened #2051 "add noselect style to add issue button"

[2015-08-13 15:07] coldpour commented on #2051
<img width="173" alt="screen shot 2015-08-13 at 9 05 07 am" src="https://cloud.githubusercontent.com/assets/10870252/9253370/ab95c7e8-419a-11e5-8c6b-e5d869a17232.png">

[2015-08-13 15:28] ashumz opened #2052 "delete"

[2015-08-13 15:28] #2052 closed

[2015-08-13 15:47] ashumz opened #2053 "Change "Configure Sources" to "Add Sources"  + add link to the documentation back to Sources section"

[2015-08-13 20:51] ashumz opened #2054 "if you authorize waffle with your github account and don't have any repos of your own, dashboard keeps spinning with "no repos found" text"
Need to fix the spinning and also add a link to "Add a repository" linking to https://github.com/new

[2015-08-13 20:52] ashumz commented on #2054
![screen shot 2015-08-13 at 4 51 58 pm](https://cloud.githubusercontent.com/assets/100216/9261414/b5826d1a-41db-11e5-8a25-d6218c6a3858.png)

[2015-08-13 20:54] ashumz commented on #2054
Text should say: "No repos found. Add a repository in GitHub" with "add a repository in GitHub linking to github.com/new

Ideally we could do this alongside the permissions work, and text could be "Upgrade your permissions or add a repository in GitHub" if scope==public

[2015-08-13 20:58] ashumz commented on #2054
Would also really love if we could just add a form for adding a repo through Waffle - it'd be mostly as a 'trial' for people.

Another option is to have a public issues only demo board owned by a user "waffle-maker/demo" for instance, and use the add collaborator API call to add every user who signs up for Waffle as a collaborator on the board so they can add issues and move them around, and the b

[2015-08-13 22:22] luislew commented on #806
+1

[2015-08-14 05:39] aruizca opened #2055 "Add one level subtask support via tag reference to issue #"
I know that GitHub issues does not support subtasks, but in theory the tagging system could be leveraged to support this feature. The idea is that if tag an issue with #5 means that this task is a subtask of issue #5. I can do that right now, but it'd be awesome if there was a way to visualize the subtasks in a popup or something. Thank your!! Waffle.io is awesome. If you enable subtask visualizat

[2015-08-14 14:32] mir4a commented on #2050
Also this is annoying for other users, who don't wan't to configure hooks at all. Suggest to add close (x) button.

[2015-08-14 14:33] bcardiff commented on #616
+1 having a more that one column for done make sense. If labels are allowed together with "close issue", a column with done and without label should list only closed issue without any label issues in the others close enabled columns.

[2015-08-14 18:00] marydavis opened #2056 "when logged in with public permissions, clicking a private project from dropdown doesn't work"

[2015-08-16 07:08] evalunamain opened #2057 "Add card button should be re-enabled after failed creation"
After a failed card creation (due to poor internet connection for example), the button remains disabled. Should be re-enabled to allow for another try without having to refresh the page or enabling the button again myself.

[2015-08-17 09:23] BirgerK commented on #926
+1

[2015-08-17 13:50] andreouellet commented on #926
+1

[2015-08-17 16:01] burtonjc commented on #2054
For whoever pulls this, if you are feeling eager, we should add a spinner to the projects container on the home page while projects are loading.

[2015-08-17 16:02] homeyer commented on #2050
closing this one, tracking @mir4a's request on #1963

[2015-08-17 16:02] #2050 closed

[2015-08-17 16:07] ashumz commented on #1328
More on this to be broken off into another card/defined better

- [ ] If logged in with public permissions, should only see public boards for which you are a team member on your dashboard
- [ ] Give visibility to user that they are logged in with public repo scope only with ability to click button/link to upgrade to private permissions

[2015-08-17 19:07] ashumz commented on #1328
one way we can show permissions on dashboard -- default view would still be "all" -- we should add the octicons for showing if a repo is private or public also. (to the project picker too, if possible)

this way you could filter by public or private, and private would stay greyed out if you're logged in with public scope only. If you click "public" tab, we ask for upgraded permissions (straight to

[2015-08-17 19:10] ashumz commented on #1328
![waffle-permissionsvisibility1](https://cloud.githubusercontent.com/assets/100216/9313625/eab4292e-44f1-11e5-8424-2a9f680574f4.png)

This would be a good start in showing if a project is public or private -- might help cue the user to know that if nothing happens, they're probably not logged in with the proper permissions (eventually we need to just ask for those permissions when you click on the

[2015-08-17 21:21] ashumz commented on #1769
Hi @meshy,

I know this request is a bit old, but was doing some backlog cleaning and wanted to reach out. :)

did you know that if you add multiple sources to a board you can view the throughput by source and for all of the sources/repos?

Ashley

[2015-08-17 21:21] #1769 closed

[2015-08-17 21:25] meshy commented on #1769
Hi @ashumz, thanks, that's good to know!

[2015-08-17 22:56] mazikwyry commented on #1709
+1

[2015-08-18 02:29] pjscopeland commented on #926
:+1:

[2015-08-18 06:09] Unknwon commented on #1034
What are the API sets that waffle.io needed?

Give me a list so I can add those to Gogs and help on this ticket. :D

[2015-08-18 10:22] cpostma-rally commented on #127
[+1](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/unassigned/conversations/1102743212)

[2015-08-18 12:30] shacharz commented on #1726
+1 especially useful when you're searching for an old ticket across multiple repositories

[2015-08-18 13:21] jeffersonxavier commented on #926
+1

[2015-08-18 15:21] homeyer commented on #1034
From the [GitHub API](https://developer.github.com/v3/) we rely on:
- authentication (oauth)
- issues
- milestones
- pull requests
- repositories

Even if the APIs are compatible, I can't guarantee we'll integrate with Gogs.

[2015-08-18 17:28] skyebook commented on #1392
+1

[2015-08-18 19:00] mauriciomelo commented on #1454
+1

[2015-08-18 20:28] amarshal commented on #926
+1

[2015-08-19 01:01] naru0504 commented on #127
:+1:

[2015-08-19 09:19] VeroniqueMDFP opened #2058 "Add time notion"
Hello,

Your tool is great!

However, I would need the notion of time is added (deadline).
Several date fields would be interesting to manage projects. For me, it would take three dates:
- Desired deadline by the customer
- Undertaking within the agency
- Actual delivery date
Thus, a project delivered late would appear in red.

More complex but very useful, if no period is specified desired, it wo

[2015-08-19 10:56] samdeane commented on #317
:+1: on this

[2015-08-19 16:16] burtonjc opened #2059 "Some PRs not connecting appropriately"
[intercom conversation](https://app.intercom.io/a/apps/fb774a034de340cde33822ae0c071ad60efe899f/inbox/jacob@waffle.io/conversations/1098816276)

[2015-08-20 02:25] chrisbeaman commented on #1466
+1

[2015-08-20 02:59] jdl031 opened #2060 "Add ability to autocomplete on file names from repository"
A common workflow is to create a card for "Add feature X in api/controllers/UserController.js", etc.

It'd be great to have autocomplete syntax for matching on files in the repo.

[2015-08-20 08:58] RichardForshaw commented on #314
+1 GitHub supports this in the 'Pulse' view, so would be nice to see the same thing on Waffle

[2015-08-20 11:51] VigdisKildedalen commented on #1392
+1

[2015-08-20 12:02] JLOWinje commented on #2023
+1

[2015-08-20 15:07] homeyer opened #2061 "setup blog SEO"

[2015-08-20 20:27] marydavis commented on #2061
nice to have:
- [ ] put all posts in a category so we no longer have 'uncategorized'

[2015-08-21 08:15] VigdisKildedalen commented on #846
+1

[2015-08-21 09:14] mal opened #2062 "Ability to add more than one repo to a board"
Currently trying to fight our way off Assembla, and this is one of the main wants from the management team so they can have an overview of all ongoing work.

[2015-08-21 09:18] mal commented on #2062
Typical. Found the FAQ section right after posting.

![](http://rs895.pbsrc.com/albums/ac159/GIFsforhire/Facepalm/facepalm.gif~c200)

[2015-08-21 09:18] #2062 closed

[2015-08-21 15:06] homeyer commented on #2061
to preserve old links to us, we need to redirect date-style permalinks to the new permalinks. Maybe there's a wordpress plugin?

[2015-08-21 15:20] homeyer commented on #2062
![image](https://cloud.githubusercontent.com/assets/84629/9411870/ead0b05c-47e5-11e5-87a4-bd5675dead43.png)

[2015-08-21 15:26] MFDW commented on #1307
I've noticed this happens ~90% of the time when moving a card to the top of a column. And happens ~<50% of the time when moving a card anywhere else in a column.
If I want a card at the top I've gotten into the habit of moving it into 2nd place in the new column then moving the 1st place card into 2nd place, bumping the original card I wanted to move into 1st place.

[2015-08-21 16:50] homeyer commented on #2038
![image](https://cloud.githubusercontent.com/assets/84629/9413958/637c8826-47f2-11e5-830a-9022c164598d.png)

[2015-08-21 16:50] homeyer commented on #2038
![flatirons-918x580](https://cloud.githubusercontent.com/assets/84629/9413979/79d370d0-47f2-11e5-9a9c-ae79236aaedd.jpg)

[2015-08-21 22:44] marydavis commented on #2061
installed 'Quick Page/Post Redirect Plugin' which might do the trick

[2015-08-22 01:24] byannoni commented on #926
:+1:

[2015-08-22 01:29] homeyer commented on #2061
got it working with "Redirection" plugin, Quick Page didn't support regex

[2015-08-24 02:13] pbutlerm opened #2064 "Integration for Jira"

[2015-08-24 11:29] alerque commented on #926
:+1:

[2015-08-24 15:51] liquidstate commented on #926
:+1:

[2015-08-24 17:07] mcfa77y commented on #1045
+1

[2015-08-24 17:33] ajkitson commented on #846
+1

[2015-08-24 20:35] pattscotton commented on #2044
+1

[2015-08-24 22:04] ppoulsen commented on #1625
+1

[2015-08-25 08:31] colindownes opened #2065 "Waffle fails to add webhook to private repo"

[2015-08-25 08:36] colindownes opened #2066 "Support: Waffle fails to add webhook to private repo (support#35)"
When I log in to waffle as my private repo owner, waffle tries to add a webhook but the address bar shows https://waffle.io/github-callback?code=blah&state=blah and the browser window just says 'Internal Server Error' is there a way to fix this, or to manually add the webhook?

We did previously have the webhook working so it could be an issue with adding it a second time?

If I log in as a collab

[2015-08-25 15:46] #2038 closed

[2015-08-25 16:11] #2061 closed

[2015-08-25 17:35] keynmol commented on #494
:+1:

[2015-08-25 21:31] tormi commented on #926
:+1:

[2015-08-25 23:07] franz-josef-kaiser opened #2067 "Expand branch recognition syntax for feature branches"
I understand that [feature branches](https://github.com/waffleio/waffle.io/wiki/FAQs#automatically-move-issues-in-progress) can either be of the type

* `123-issue`
* `issue-#123`

In our team, we really appreciate dropping the `#` off. Instead we use just `issue-123` which is much easier to read and to type. Feature request: Please expand the syntax so we can automatically move issues. Thanks.

[2015-08-26 05:57] homeyer opened #2068 "hackshop.waffle.io"
A microsite for templating Waffle projects with columns/cards for hackathons.

[2015-08-26 16:00] clbarnes commented on #803
Yes please! 'Blocked by', 'depends on' and maybe 'resolves' would be great!

[2015-08-26 16:16] flimzy commented on #803
@clbarnes , "resolves" is already supported by standard GitHub issues, without any need for waffle.io integration.

[2015-08-26 16:20] #2065 closed

[2015-08-26 16:23] richgiomundo commented on #1466
+1

[2015-08-26 19:22] joshrosenheck opened #2069 "Image upload!"

[2015-08-26 19:23] mpeltier6 commented on #2069
+1

[2015-08-26 20:29] Croydon commented on #2044
+1

[2015-08-26 22:15] kefirchik commented on #616
:+1: This can be easily used for roadmaps

[2015-08-26 22:45] ryansch commented on #2008
:+1:

[2015-08-26 22:46] ryansch commented on #746
:+1:

[2015-08-26 23:58] elliottmb commented on #1979
+1 to this.

I'm heavily dependent on using commit referencing to update my progress on an issue.

I rather not have to write a well detailed commit of progress and then essentially rewrite or copy and paste the same message into the board.

[2015-08-27 00:43] metalspawn commented on #925
+1

[2015-08-27 00:52] jayrapson commented on #925
+1

[2015-08-27 09:55] fredericgrati commented on #926
:+1:

[2015-08-27 12:34] p404 commented on #926
+1

[2015-08-27 15:30] scarolan commented on #806
+1

[2015-08-27 16:55] jdl031 commented on #2069
+1

[2015-08-27 17:09] tobalsgithub commented on #846
:+1:

[2015-08-27 19:33] ggdaltoso commented on #806
+1

[2015-08-28 05:08] rarkins commented on #595
Duplicate/part of #803

[2015-08-28 05:08] #595 closed

[2015-08-28 12:50] mjonker-embed commented on #925
+1

[2015-08-28 17:14] jmeridth commented on #806
:+1:

[2015-08-28 22:26] jmeridth commented on #925
:+1:

[2015-08-30 05:30] lexi-lambda commented on #1905
:+1:

[2015-08-30 14:20] geirsagberg commented on #1957
+1

[2015-08-31 00:36] ymmyk opened #2070 "Handle removing users from the project team when a project's primary repository is no longer accessible for that user in GitHub"

[2015-08-31 07:58] mspangdal commented on #306
+1

[2015-08-31 11:41] Talento90 commented on #926
+1

[2015-08-31 16:21] joshrosenheck commented on #846
+1

[2015-08-31 16:35] tobalsgithub commented on #896
+1

[2015-08-31 17:38] tobalsgithub opened #2071 "Strange behavior when assigning an owner to a PR already linked to issues"
We had a PR that was listed under 2 different issues in our Needs Review column. The PR was unassigned. I went in and assigned myself as the PR owner in Waffle (not github), and when I closed the card modal, the PR started showing up on its own in the Needs Review column, and the title was missing from the PR listed under each issue.

Here's what it looked like after the PR was assigned and the mo

[2015-08-31 20:44] shadowhand opened #2072 "Unassigned filter shows things that are assigned"
When I choose the options "Issues Only" and "Owner: Unassigned" Waffle still shows me things that are assigned.

Possibly related to #1896?

[2015-08-31 21:20] ckarlof commented on #1967
I'm not sure I'd like for it to edit the milestone, but if it would be nice if the milestone was clickable on a card and show me the milestone description, etc.

[2015-09-01 00:50] ignatiusreza opened #2073 "show more info in notification to make it easier to understand"
currently it only shows`someone did something on #xxx`.. and user have to check what card numbered `#xxx` is about..

including an excerpt of the card (issue/PR) title will make it much easier to understand what is going on..